.J9 * {
  box-sizing: border-box;
}

.J9_emp_dash_post_job_body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto;
  grid-template-areas: "J9_emp_dash_post_job_aside J9_emp_dash_post_job_right_side";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.J9_emp_dash_post_job_aside {
  grid-area: J9_emp_dash_post_job_aside;
}
.J9_emp_dash_post_job_aside_fixed {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 4fr 9fr 1fr;
  grid-template-areas:
    "J9_emp_dash_post_job_aside_logo_prof_pic"
    "J9_emp_dash_post_job_aside_menu_bar"
    "J9_emp_dash_post_job_aside_logout";
  position: fixed;
  z-index: 1000;
  height: 100vh;
  width: 260px;
  width: calc(100vw / 6);
  background: #fff;
}

.J9_emp_dash_post_job_aside_logo_prof_pic {
  grid-area: J9_emp_dash_post_job_aside_logo_prof_pic;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-areas:
    "J9_emp_dash_post_job_aside_logo"
    "J9_emp_dash_post_job_aside_prof_pic";
}

.J9_emp_dash_post_job_aside_logo {
  display: block;
  align-self: center;
  text-align: center;
}
.J9_emp_dash_post_job_aside_logo img {
  grid-area: J9_emp_dash_post_job_aside_logo;
  width: 50%;
}

.J9_emp_dash_post_job_aside_prof_pic {
  grid-area: J9_emp_dash_post_job_aside_prof_pic;
  display: block;
  align-self: center;
  justify-self: center;
  text-align: center;
  width: 100%;
}
.J9_emp_dash_post_job_aside_prof_pic img {
  width: 60%;
  border-radius: 50%;
}
.J9_emp_dash_post_job_aside_menu_bar {
  grid-area: J9_emp_dash_post_job_aside_menu_bar;
  display: grid;
  grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr 2fr;
  grid-template-rows: auto auto auto auto auto auto auto; /*  */
  grid-template-areas:
    "J9_emp_dash_post_job_aside_menu_bar_before"
    "J9_emp_dash_post_job_aside_menu_bar_button"
    "J9_emp_dash_post_job_aside_menu_bar_button"
    "J9_emp_dash_post_job_aside_menu_bar_button"
    "J9_emp_dash_post_job_aside_menu_bar_button"
    "J9_emp_dash_post_job_aside_menu_bar_button"
    "J9_emp_dash_post_job_aside_menu_bar_after";
  align-items: center;
}
.J9_emp_dash_post_job_aside_menu_bar::before {
  content: ""; /*  */
  grid-area: J9_emp_dash_post_job_aside_menu_bar_before;
}

.J9_emp_dash_post_job_aside_menu_bar::after {
  content: ""; /*  */
  grid-area: J9_emp_dash_post_job_aside_menu_bar_after;
}

.J9_emp_dash_post_job_aside_menu_bar_button {
  text-decoration: none;
  display: flex;
  width: 80%;
  align-items: center;
  padding: 2vh 0.5vw 2vh 1vw;
  border-radius: 2vw;
  margin-left: 10%;
  gap: 0.3vw;
  font-size: 1.3vw;
  color: black;
}
.J9_emp_dash_post_job_aside_menu_bar_button img {
  width: 2vw;
}
.J9_emp_dash_post_job_aside_menu_bar_button:nth-of-type(3) {
  background-color: #00c853;
  color: #fff;
}

.J9_emp_dash_post_job_aside_logout {
  grid-area: J9_emp_dash_post_job_aside_logout;
  text-decoration: none;
  display: flex;
  width: 80%;
  align-items: center;
  padding: 2vh 0.5vw 2vh 1vw;
  border-radius: 2vw;
  margin-left: 10%;
  gap: 0.3vw;
  font-size: 1.3vw;
  color: black;
}

.J9_emp_dash_post_job_aside_logout img {
  width: 2vw;
}

.J9_emp_dash_post_job_right_side {
  grid-area: J9_emp_dash_post_job_right_side;
  background-color: #f5f5f5;
  /* border-radius: 50px; */
  border-radius: 6vw;
  display: grid;
  grid-template-columns: 5vw auto 5vw;
  grid-template-areas: "J9_emp_dash_post_job_right_side_left_space J9_emp_dash_post_job_right_side_container J9_emp_dash_post_job_right_side_right_space";
}

.J9_emp_dash_post_job_right_side::before {
  grid-area: J9_emp_dash_post_job_right_side_left_space;
}

.J9_emp_dash_post_job_right_side::after {
  grid-area: J9_emp_dash_post_job_right_side_right_space;
}

.J9_emp_dash_post_job_right_side_container {
  grid-area: J9_emp_dash_post_job_right_side_container;
  display: grid;
  grid-template-rows: 12vh auto;
  grid-template-areas:
    "J9_emp_dash_post_job_right_side_top_nav"
    "J9_emp_dash_post_job_right_side_body";
}

.J9_emp_dash_post_job_right_side_top_nav {
  grid-area: J9_emp_dash_post_job_right_side_top_nav;
  background-color: #f5f5f5; /*  */
  position: fixed;
  /* left: calc(7vw + 17.25%); */
  left: 21.5vw;
  right: 5vw;
  height: 12vh;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: end;
  align-items: center;
}

.J9_emp_dash_post_job_right_side_top_nav_search_form {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  width: 20vw;
  height: 5vh;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 6vw;
  background: rgba(0, 0, 0, 0.05);
}

.J9_emp_dash_post_job_right_side_top_nav_search_button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.J9_emp_dash_post_job_right_side_top_nav_search_button img {
  width: 2vmax;
}

.J9_emp_dash_post_job_right_side_top_nav_search_box {
  width: 100%;
  height: 100%;
  font-size: 1.5vw;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 0 1vw 0 1vw;
  background: transparent;
  border-radius: 6vw;
}

.J9_emp_dash_post_job_right_side_top_nav_post_button {
  text-decoration: none;
  color: #fff;
  text-align: center;
  width: 11vw;
  font-size: 1.5vw;
  line-height: 4vh;
  border-radius: 5vw;
  background: #00c853;
  margin-left: 2vw;
}

.J9_emp_dash_post_job_right_side_body {
  grid-area: J9_emp_dash_post_job_right_side_body;
  background-color: #f5f5f5;
  display: grid;
  grid-template-rows: 7vw auto;
  gap: 3vh;
  
}

.J9_emp_dash_post_job_right_side_body_title {
  background-color: #f5f5f5;
  font-size: calc(2vw + 1vh);
  padding-left: 2vw;
  line-height: 3vh;
}

.J9_emp_dash_post_job_right_side_body_container {
  background-color: #fff;
  border-radius: 4vw;
  padding: 2vh 4vw;
  margin-bottom: 3vh;
  display: grid;
  grid-template-rows: repeat(4, auto);

}
.J9_emp_dash_post_job_right_side_body label {
  display: block;
  font-size: 1.5vw;
  /* margin-bottom: 1vh; */
  margin-top: 1vh;
}
.J9_emp_dash_post_job_right_side_body h3 {
  font-size: 2vw;
}
.J9_emp_dash_post_job_right_side_body textarea {
  /* height: 15vh; */
  height: calc(8vh + 7vw);
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 2vw;
  padding: 1.5vh 2vw;
  resize: none;
  font-size: 1.6vw;
}
.J9_emp_dash_post_job_right_side_body input {
  width: 97%;
  height: 4.5vw; /* vw */
  border: 1px solid #e5e5e5;
  border-radius: 1vw;
  padding: 0 2vw;
  font-size: 1.6vw;
  margin-top: 1vh;
}
.J9_emp_dash_post_job_right_side_body select {
  width: 97%;
  height: 4.5vw;
  border: 1px solid #e5e5e5;
  border-radius: 1vw;
  padding: 0 2.5vw 0 2vw;
  font-size: 1.6vw;
  margin-top: 1vh;
}
.J9_emp_dash_post_job_right_side_body option {
  font-size: 1.6vw;
}

/************************************************************************/

.J9_emp_dash_post_job_right_side_body_container_job_details {
  display: grid;
  grid-template-rows: repeat(4, auto);
}

.J9_emp_dash_post_job_right_side_body_container_job_details_job_category_type_Salary {
  display: grid;
  grid-template-rows: repeat(2, auto);
}

.J9_emp_dash_post_job_right_side_body_container_job_details_job_category_type {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.J9_emp_dash_post_job_right_side_body_container_job_details_job_salary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.J9_emp_dash_post_job_right_side_body_container_job_details_job_salary_min_max {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
  margin-top: 1.5vw;
}

/************************************************************************************************************/

.J9_emp_dash_post_job_right_side_body_container_skills_experience_buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.J9_emp_dash_post_job_right_side_body_container_skills_experience button {
  border: none;
  box-shadow: none;
  display: block;
  cursor: pointer;

  font-size: 1.2vw;
  margin: 10px 3px 0;
  padding: 0 14px;
  height: 2.5vw;
  background: rgba(50,50,50,.1);
  border-radius: 30px;
  transition: all .2s ease-in-out 0s;
}

.J9_emp_dash_post_job_right_side_body_container_file_attachment {
}

.J9_emp_dash_post_job_right_side_body_emp_address_location {
  display: grid;
  grid-template-rows: auto auto auto;
  font-size: 1.6vw;
}

.J9_emp_dash_post_job_right_side_body_emp_address_location_title {
  margin: 0 0 1vh;
}

.J9_emp_dash_post_job_right_side_body_emp_address {
  margin-bottom: 1.2vh;
}

.J9_emp_dash_post_job_right_side_body_emp_address_location input {
  width: 97%;
  height: 4.5vh;
  border: 1px solid #e5e5e5;
  border-radius: 1vw;
  padding: 0 2vw;
  font-size: 1.6vw;
  /***********************************************/
}

.J9_emp_dash_post_job_right_side_body_emp_location {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.J9_emp_dash_post_job_right_side_body_emp_location div {
  margin-bottom: 1vh;
  width: 100%; /*  */
}

.J9_emp_dash_post_job_right_side_body_emp_address_location label {
  display: block;
}
.J9_emp_dash_post_job_right_side_body_emp_address_location select {
  width: 97%;
  height: 4.5vh;
  border: 1px solid #e5e5e5;
  border-radius: 1vw;
  padding: 0 2.5vw 0 2vw;
  font-size: 1.6vw;
}

.J9_emp_dash_post_job_right_side_body_emp_address_location select option {
  font-size: 1.6vw;
}
.J9_emp_dash_post_job_right_side_body_emp_profile_save_cancel_button {
  width: 22vw;
  height: 6vh;
  margin-left: 3vw;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-items: center;
  gap: 1vmin;
  font-size: 1.6vw;
  margin-bottom: 3vh;
}
.J9_emp_dash_post_job_right_side_body_emp_profile_save_button {
  text-decoration: none;
  border-radius: 3vw;
  background-color: #00c853;
  color: white;
  padding: 1vh 3vw;
}

.J9_emp_dash_post_job_right_side_body_emp_profile_cancel_button {
  text-decoration: none;
  color: black;
  border-radius: 3vw;
}
