
#h1-add-new-job {
    text-shadow: 0px 4px 4px rgb(52, 55, 255);
    font-size: 40px;
    text-align: center;
}

form {
    position: relative;
    left: 10%;
    width: 80%;
    padding-top: 15px;
    padding-left: 20px;
    border: solid;
    border-color: #dadada;
    box-shadow: 6px 7px 9px #dadada9e;
    border-radius: 20px;
}
#id-label{
    font-size: 1.5ch;
}
.input-box {
    font-size: larger;
    width: 95%;
    height: 30px;
    padding-left: 16px;
}
form label,p {
    font-size: 25px;
}
#description{
    height: 100px;
}

#boutton-add-job{
    margin-left: 42%;
    margin-bottom: 10px;
    width: 15%;
    text-align: center;
    font-size: 30px;
    border-radius: 12px;
    background-color: #00b0ff;
    color: white;
    border-color: #00b0ff;
    box-shadow: 5px 5px 5px #cfcfde;
}



.table div{
    display: inline-block;
    vertical-align :middle;
    /* width: 12.5%; */
    
}
input {
    border-radius: 20px;
    padding-left: 12px;
}
