#add-new-job-button,#check_candidates-button {
    font-size: 20px;
    height: 45px;
    border: none;
    margin-left: 10px;
    text-align: center;
    box-shadow: 3px 2px 6px 0px #00BCD4;
    border-radius: 11px;
    color: azure;
    background: #00c853;
}
#add-new-job-button:hover,#check_candidates-button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
a {
    text-decoration: none;
}
.button{
    position: absolute;
    top: 60px;
    right: 20px;
}
h1 {
    text-align: center;
    font-size: 40px;
    background-color: #00c853;
    color: aliceblue;
    border-radius: 25px;
    width: 35%;
    margin-left: 32.5%;
    box-shadow: 7px 0px 0px 0px #FF5722, -7px 0px 0px 0px #fb592a;
}
.edit-delete-buttons {
    position: absolute;
    right: 2%;
    top: 5%;
    z-index: 3;
    width: 34px;
}
.job-id {
    background-color: #cccccc;
    display: inline-block;
    position: absolute;
    z-index: 8;
    left: -3%;
    top: 80%;
    width: 75px;
    height: 75px;
    vertical-align: middle;
    font-size: 37px;
    border-radius: 64%;
    text-align: center;
    line-height: 73px;
    border: solid;
    box-shadow: -5px 5px 37px #0000009c;
}
.job-name {
    display: inline-block;
    position: absolute;
    z-index: 5;
    left: 2%;
    top: 92%;
    background-color: #00dcffe6;
    width: 100%;
    text-align: center;
    font-size: 20px;
    border-radius: 25px;
    line-height: 40px;
}
.desc {
    margin-top: 0px;
    margin-left: 1%;
    margin-bottom: 0%;
    border: solid;
    border-color: #b19b9b1f;
    backdrop-filter: blur(6px);
    width: 100%;
    padding-left: 20px;
    padding-right: 45px;
    padding-top: 16px;
    border-radius: 10px;
    line-height: 25px;
    font-size: 20px;
    box-sizing: border-box;
    height: 200px;
    box-shadow: 9px 10px 45px #43008085;
}
div.edit-delete-buttons button{
    font-size: 20px;
    border-radius: 41px;
    width: 33px;
    line-height: 28px;
    background: none;
    border: none;
}
.all-jobs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
}

.job {
    position: relative;
    width: 40%;
    margin-right: 25px;
    margin-bottom: 5%;
    border-radius: 14px;
    display: inline-block;
}
.job1 {
    background-image: url(../media/front.png);
    background-size: 51% 100%;
    background-repeat: no-repeat;
    background-position-x: 115px;
    background-position-y: -9px;
}
.job2 {
    background-image: url(../media/backend.png);
    background-size: 51% 100%;
    background-repeat: no-repeat;
    background-position-x: 115px;
    background-position-y: -9px;
}
.job3 {
    background-image: url(../media/OIP\ .jpg);
    background-size: 51% 100%;
    background-repeat: no-repeat;
    background-position-x: 115px;
    background-position-y: -9px;
}
.job4 {
    background-image: url(../media/R.png);
    background-size: 51% 100%;
    background-repeat: no-repeat;
    background-position-x: 115px;
    background-position-y: -9px;
}

img{
    width: 30px;
    height:30px;
}
img:hover{
    transform: scale(1.2);
    cursor: pointer;
}