#add-new-job-button,#check_candidates-button {
    font-size: 20px;
    height: 45px;
    border: none;
    margin-left: 10px;
    text-align: center;
    box-shadow: 3px 2px 6px 0px #00BCD4;
    border-radius: 11px;
    color: azure;
    background: #00c853;
}
#add-new-job-button:hover,#check_candidates-button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
a {
    text-decoration: none;
}
.button{
    position: absolute;
    top: 60px;
    right: 20px;
}
h1 {
    text-align: center;
    font-size: 40px;
    background-color: #00c853;
    color: aliceblue;
    border-radius: 25px;
    width: 35%;
    margin-left: 32.5%;
    box-shadow: 7px 0px 0px 0px #FF5722, -7px 0px 0px 0px #fb592a;
}
.edit-delete-buttons {
    position: absolute;
    right: 75%;
    top: 3%;
    z-index: 3;
    width: 100px;
}
.job-image-div {
    background-color: #e7e7e7;
    display: inline-block;
    position: absolute;
    z-index: 8;
    left: -3%;
    top: 80%;
    width: 75px;
    height: 75px;
    /* vertical-align: middle; */
    font-size: 37px;
    border-radius: 50%;
    text-align: center;
    line-height: 110px;
    /* border: solid; */
    box-shadow: -5px 5px 37px #0000009c;
}
img.job-img {
    width: 60%;
    height: 70%;
    filter: blur(1px);
}
img {
    width: 30px;
    height: 30px;
}
user agent stylesheet
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.job-image-div {
    background-color: #e7e7e7;
    display: inline-block;
    position: absolute;
    z-index: 8;
    left: 70%;
    top: 0%;
    width: 50%;
    height: 100%;
    /* vertical-align: middle; */
    font-size: 37px;
    border-radius: 50%;
    text-align: center;
    line-height: 318px;
    /* border: solid; */
    box-shadow: -5px 5px 37px #0000009c;
}
img.job-img:hover {
    transform: scale(2.5);
    filter: none;
}
.job-name {
    display: inline-block;
    position: absolute;
    z-index: 5;
    left: 0%;
    top: 80%;
    background-color: #00dcffe6;
    width: 96%;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    line-height: 40px;
}
.desc {
    margin-top: 0px;
    margin-left: 0%;
    margin-bottom: 0%;
    border: solid;
    border-color: #b19b9b1f;
    width: 100%;
    padding-left: 0%;
    padding-right: 28%;
    padding-top: 10%;
    border-radius: 10px;
    line-height: 25px;
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
    height: 200px;
    box-shadow: 9px 10px 45px #43008085;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
div.edit-delete-buttons button {
    font-size: 20px;
    border-radius: 41px;
    width: 33px;
    line-height: 28px;
    background: none;
    border: none;
}
.all-jobs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
}

.job {
    position: relative;
    width: 40%;
    margin-right: 25px;
    margin-bottom: 5%;
    border-radius: 14px;
    display: inline-block;
}

img{
    width: 30px;
    height:30px;
}
img:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.salary {
    /* margin-top: 8%; */
    width: 50%;
    /* border: solid; */
    height: 35px;
    color: rgba(36, 64, 52, .7);
}
.city {
    width: 50%;
    height: 35px;
    color: rgba(36, 64, 52, .7);
}
.description {
    width: 88%;
    text-align: left;
    border-top: solid;
    border-width: 2px;
    margin-top: -40px;
    padding-top: 15px;
    padding-right: 5px;
    padding-left: 20px;
    font-size: 17px;
}