
#h1-edit-job {
    text-shadow: 0px 4px 4px rgb(52, 55, 255);
    font-size: 40px;
    text-align: center;
}

form {
    /* position: relative; */
    /* left: 25%; */
    width: 70%;
    margin-left: 15%;
    padding-top: 15px;
    padding-left: 20px;
    border: solid;
    border-color: #edeaea;
    background-color: white;
    box-shadow: 6px 7px 9px #dadada9e;
    border-radius: 20px;
}
#id-label{
    font-size: 1.5ch;
}
.input-box {
    font-size: 30px;
    width: 95%;
    height: 55px;
    padding-left: 16px;
    margin-top: 6px;
    margin-bottom: 25px;
    border-width: 1px;
    border-color: #e5e5e5;
    background-color: #a9a9a908;
    color: #afafaf;
}
form label, p {
    font-size: 25px;
    margin-left: 10px;
}
#description {
    height: 150px;
    font-size: 20px;
}

#boutton-save{
    margin-left: 42%;
    margin-bottom: 10px;
    width: 15%;
    text-align: center;
    font-size: 30px;
    border-radius: 12px;
    background-color: #00b0ff;
    color: white;
    border-color: #00b0ff;
    box-shadow: 5px 5px 5px #cfcfde;
}



.table div{
    display: inline-block;
    vertical-align :middle;
    /* width: 12.5%; */
    
}
input {
    border-radius: 13px;
    padding-left: 12px;
    /* font-size: 10px; */
}
input#salary {
    width: 30%;
    text-align: center;
}
select {
    width: 40%;
    text-align: center;
    height: 60px;
    border-radius: 10px;
    font-size: 25px;
    color: #424242;
}
span#per-word {
    display: inline-block;
    font-size: 25px;
    margin-left: 0%;
    margin-right: 0%;
    width: 10%;
}
label#salary-label {
    display: inline-block;
    width: 10%;
}
input#open {
    margin-left: 10%;
}
input#closed {
    margin-left: 10%;
}