.main{
    width: 80%;
    margin: auto;
    background-color:white;
    padding: 2%;
    position: relative;
}
body{
    background-color:  #f5f5f5 ;
    
}
.job_title{
    text-align: center;
    color: #1a237e;
}
h2 {
    color: #1a237e;
}

[onclick="confirmApplication()"]{
    display: block;
    width: 200px;
    padding: 10px;
    margin: 30px auto;
    background-color: #00b0ff;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}
[onclick="confirmApplication()"]:hover {
    background-color: #00c853;
  }
  .save-button-div {
    background-color: #69696900;
    border: solid;
    border-color: #0000001f;
    border-width: 1px;
    width: 6%;
    height: 8%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6%;
    /* margin-right: 1%; */
    position: absolute;
    top: -6%;
    right: 6%;
}


.save-button {
    width: 100%;
    height: 100%;
    border:none;
    border-radius: 50%;
}
.save-button-img {
    width: 95%;
    height: 80%;
    display: block;
    filter: contrast(0.5);
}
.save-button:hover {
    transform: scale(1.2);
    background-color: rgb(98 255 98 / 50%);
    color: #7e7e7e;
    cursor: pointer;
}