.main{
    width: 80%;
    margin: auto;
    background-color:white;
    padding: 2%;
}
body{
    background-color:  #f5f5f5 ;
    
}
.job_title{
    text-align: center;
    color: #1a237e;
}
h2 {
    color: #1a237e;
}

[onclick="confirmApplication()"]{
    display: block;
    width: 200px;
    padding: 10px;
    margin: 30px auto;
    background-color: #00b0ff;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}
[onclick="confirmApplication()"]:hover {
    background-color: #00c853;
  }