/* sidebar */
.j0sidebar {
    width: 250px;
    height: 100vh;
    background: #333333;
    padding: 20px 0;
    position: fixed;
    float: left;
}

.j0profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    margin: 20px auto;
    display: block;
    overflow: hidden;
}

.j0profile-pic img {
    width: 100%;
    height: auto;
}

.j0menu {
    list-style: none;
    padding: 0;
}

.j0menu li {
    padding: 15px;
    margin: 5px;
}

.j0_selected_li {
    border-radius: 10px;
    background-color: #00B0ff;
}

.j0menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.j0menu li a:hover {
    color: #1e90ff;
}

.j0icon {
    width: 30px;
    height: 30px;
    margin-right: 7px;
}
/* end sidebar */

#j0_main{
    width: 70%;
    padding: 2%;
    margin-left: 300px;
}

#j0_upload{
    margin-top: 20%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

#j0_uploaded p {
    background-color: #e7e7e7;
    line-height: 25px;
    padding: 15px 15px;
    margin: 10px 0;
    border-radius: 10px;
  }
  #j0_uploaded span {
    float: right;
    color: #d00;
    cursor: pointer;
    font-size: large;
  }

  button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 3px;
  }
  button:hover {
    background-color: #4cae4c;
    cursor: pointer;
  }
