{% load static %}

<div id="J9_recruiter_dashboard_jobs" style="display: none;">
  <div class="J9_emp_dash_jobs_right_side_body_emp_jobs">
      <table class="J9_emp_dash_jobs_right_side_body_emp_jobs_table">
          <thead class="J9_emp_dash_jobs_right_side_body_emp_jobs_table_head">
              <tr class="J9_emp_dash_jobs_right_side_body_emp_jobs_table_head_row">
                  <th scope="col">Title</th>
                  <th scope="col">Job Created</th>
                  <th scope="col">Applicants</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>
              </tr>
          </thead>
          <tbody id="J9_emp_dash_jobs_right_side_body_emp_jobs_table_body"
              class="J9_emp_dash_jobs_right_side_body_emp_jobs_table_body">
              {% for job, application_count in rec_jobs %}
              <tr class="J9_emp_dash_jobs_right_side_body_emp_jobs_table_body_row" id="J9_job{{job.job_id}}">
                  <td class="J9_emp_dash_jobs_right_side_body_emp_jobs_table_body_row_title">
                      <div><a style="color:#ffa500;" href="{% url 'viewJob' job_id=job.job_id recruiter_username=job.recruiter.user.username %}">{{job.title}}</a></div>
                      <div>{{job.type}} . {{job.country}}</div>
                  </td>
                  <td>{{job.creation_date|date:"M d, Y, g:i a"}}</td>
                  <td><a style="color:#000;" href="{% url 'checkJobCandidates' recruiter_username=job.recruiter.user.username job_id=job.job_id %}">{{application_count}} Applications</a></td>
                  <td>
                      <div
                      {% if job.status == "open" %}
                      class = "J9_open J9_emp_dash_jobs_right_side_body_emp_jobs_table_body_row_status"
                      {% elif job.status == "closed" %}
                      class = "J9_closed J9_emp_dash_jobs_right_side_body_emp_jobs_table_body_row_status"
                      {% endif %}>
                      {{job.status}}
                      </div>
                  </td>
                  <td>
                      <div class="J9_emp_dash_jobs_right_side_body_emp_jobs_table_body_row_action_dots">
                          <button class="J9_emp_dash_jobs_right_side_body_emp_jobs_table_body_row_action_button">
                          <span></span>
                          </button>
                          <ul style="display: none;" class="J9_emp_dash_jobs_right_side_body_emp_jobs_table_body_row_action_ul">
                          <li><a href="{% url 'viewJob' job_id=job.job_id recruiter_username=job.recruiter.user.username %}"><img src=" {% static "icons/eye.svg" %} ">View</a></li>
                          <li><a href="{% url "editJob" job_id=job.job_id recruiter_username=job.recruiter.user.username  %}" ><img src=" {% static "icons/edit.svg" %} ">Edit</a></li>
                          <li><a onclick="J9_delete_job({{job.job_id}}, '{{job.recruiter.user.username}}')" href="#" ><img src=" {% static "icons/delete.svg" %} ">Delete</a></li>
                          <li><a href="{% url 'checkJobCandidates' recruiter_username=job.recruiter.user.username job_id=job.job_id %}" ><img src=" {% static "icons/profile.svg" %} ">check Candidates</a></li>
                          </ul>
                      </div>
                  </td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>

</div>
