{% load static %}
<div id="J9_recruiter_dashboard_saved_candidates" style="display: none;">
  <a href="/checkCandidates">
      <h3>All Candidates</h3>
  </a>
  <div class="J9_emp_dash_saved_candidates_right_side_body_container">
      <div class="J9_emp_dash_saved_candidates_right_side_candidate_card">
          <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_photo">
              <a href="#"><img src=" {% static "images/candidate1.jpg" %} " alt=""></a>
          </div>
          <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details">
              <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_information">
                  <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_name">
                      <h3>Joseph</h3>
                      <div>artist</div>
                  </div>
                  <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_salary">
                      <span>Salary</span>
                      <div>20$ - 50$</div>
                  </div>
                  <div
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_location">
                      <span>Location</span>
                      <div>Giza</div>
                  </div>
                  <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_actions">
                      <a href="#"><img src=" {% static "icons/eye2.svg" %} " alt=""></a>
                      <div class="div">
                          <button
                              class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_actions_button"><span></span></button>
                          <ul
                              class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_actions_ul">
                              <li><a href="#"><img src=" {% static "icons/eye2.svg" %} " alt="">view</a>
                              </li>
                              <li><a href="#"><img src=" {% static "icons/delete.svg" %} " alt="">delete</a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skills">
                  <span
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">Design</span>
                  <span
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">UI</span>
                  <span
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">Digital</span>
                  <span
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">2+</span>
              </div>
          </div>
      </div>


      <div class="J9_emp_dash_saved_candidates_right_side_candidate_card">
          <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_photo">
              <a href="#"><img src=" {% static "images/candidate2.jpg" %} " alt=""></a>
          </div>
          <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details">
              <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_information">
                  <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_name">
                      <h3>philo</h3>
                      <div>artist</div>
                  </div>
                  <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_salary">
                      <span>Salary</span>
                      <div>20$ - 50$</div>
                  </div>
                  <div
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_location">
                      <span>Location</span>
                      <div>Giza</div>
                  </div>
                  <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_actions">
                      <a href="#"><img src=" {% static "icons/eye2.svg" %} " alt=""></a>
                      <div>
                          <button
                              class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_actions_button"><span></span></button>
                          <ul
                              class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_actions_ul">
                              <li><a href="#"><img src=" {% static "icons/eye2.svg" %} " alt="">view</a>
                              </li>
                              <li><a href="#"><img src=" {% static "icons/delete.svg" %} " alt="">delete</a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skills">
                  <span
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">Design</span>
                  <span
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">UI</span>
                  <span
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">Digital</span>
                  <span
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">2+</span>
              </div>
          </div>
      </div>
      <div class="J9_emp_dash_saved_candidates_right_side_candidate_card">
          <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_photo">
              <a href="#"><img src=" {% static "images/candidate1.jpg" %} " alt=""></a>
          </div>
          <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details">
              <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_information">
                  <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_name">
                      <h3>momen</h3>
                      <div>artist</div>
                  </div>
                  <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_salary">
                      <span>Salary</span>
                      <div>20$ - 50$</div>
                  </div>
                  <div
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_location">
                      <span>Location</span>
                      <div>Giza</div>
                  </div>
                  <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_actions">
                      <a href="#"><img src=" {% static "icons/eye2.svg" %} " alt=""></a>
                      <div class="div">
                          <button
                              class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_actions_button"><span></span></button>
                          <ul
                              class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_actions_ul">
                              <li><a href="#"><img src=" {% static "icons/eye2.svg" %} " alt="">view</a>
                              </li>
                              <li><a href="#"><img src=" {% static "icons/delete.svg" %} " alt="">delete</a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skills">
                  <span
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">Design</span>
                  <span
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">UI</span>
                  <span
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">Digital</span>
                  <span
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">2+</span>
              </div>
          </div>
      </div>
      <div class="J9_emp_dash_saved_candidates_right_side_candidate_card">
          <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_photo">
              <a href="#"><img src=" {% static "images/candidate3.jpg" %} " alt=""></a>
          </div>
          <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details">
              <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_information">
                  <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_name">
                      <h3>someone</h3>
                      <div>artist</div>
                  </div>
                  <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_salary">
                      <span>Salary</span>
                      <div>20$ - 50$</div>
                  </div>
                  <div
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_location">
                      <span>Location</span>
                      <div>Giza</div>
                  </div>
                  <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_actions">
                      <a href="#"><img src=" {% static "icons/eye2.svg" %} " alt=""></a>
                      <div class="div">
                          <button
                              class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_actions_button"><span></span></button>
                          <ul
                              class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_actions_ul">
                              <li><a href="#"><img src=" {% static "icons/eye2.svg" %} " alt="">view</a>
                              </li>
                              <li><a href="#"><img src=" {% static "icons/delete.svg" %} " alt="">delete</a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skills">
                  <span
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">Design</span>
                  <span
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">UI</span>
                  <span
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">Digital</span>
                  <span
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">2+</span>
              </div>
          </div>
      </div>
      <p class="J9_demo">It's a demo version</p>
  </div>
</div>
