{% load static %}
<div id="J9_recruiter_dashboard_saved_candidates" style="display: none;">
  <a href="/checkCandidates">
      <h3>All Candidates</h3>
  </a>
  {% for candidate,job in jobs.items %}
  <div class="J9_emp_dash_saved_candidates_right_side_body_container">
      <div class="J9_emp_dash_saved_candidates_right_side_candidate_card">
          <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_photo">
              <a href="#">  <img {% if candidate.user.photo %} src="{{candidate.user.photo.url}}" {% else %} src="../static/media/images/default.jpg" {% endif %} alt="" >  </a>
          </div>      

          <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details">
              <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_information">
                  <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_name">
                      <h3>{{candidate.applicant.user.username}}</h3>
                  </div>
                  {% if candidate.applicant.city %}
                  <div
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_location">
                      <span>Location</span>
                      <div>{{candidate.applicant.city}}</div>
                  </div>
                  {% endif %}
                  <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_actions">
                    <a href="{% url "viewCandidate" candidate.applicant.user.username  %}"><img src=" {% static "icons/eye2.svg" %} " alt=""></a>
                    <div class="div">
                        <button
                            class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_actions_button"><span></span></button>
                        <ul
                            class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_actions_ul">
                            <li><a href="{% url "viewCandidate" candidate.applicant.user.username  %}"><img src=" {% static "icons/eye2.svg" %} " alt="">view</a>
                            </li>
                            <li><a href="#"><img src=" {% static "icons/delete.svg" %} " alt="">delete</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
              <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skills">
                {% for j in job %}  
                <span
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">{{j.title}}</span>
                      {% endfor %}

              </div>
          </div>
      </div>
    {% endfor %}

    <!-- ---------------------------------------------------------------------------------------- -->
  <div class="J9_emp_dash_saved_candidates_right_side_body_container">
      <div class="J9_emp_dash_saved_candidates_right_side_candidate_card">
          <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_photo">
              <a href="#"><img src=" {% static "images/candidate1.jpg" %} " alt=""></a>
          </div>
          <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details">
              <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_information">
                  <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_name">
                      <h3>Joseph</h3>
                      <div>artist</div>
                  </div>
                  <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_salary">
                      <span>Salary</span>
                      <div>20$ - 50$</div>
                  </div>
                  <div
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_location">
                      <span>Location</span>
                      <div>Giza</div>
                  </div>
                  <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_actions">
                      <a href="#"><img src=" {% static "icons/eye2.svg" %} " alt=""></a>
                      <div class="div">
                          <button
                              class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_actions_button"><span></span></button>
                          <ul
                              class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_actions_ul">
                              <li><a href="#"><img src=" {% static "icons/eye2.svg" %} " alt="">view</a>
                              </li>
                              <li><a href="#"><img src=" {% static "icons/delete.svg" %} " alt="">delete</a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skills">
                  <span
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">Design</span>
                  <span
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">UI</span>
                  <span
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">Digital</span>
                  <span
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">2+</span>
              </div>
          </div>
      </div>

      <div class="J9_emp_dash_saved_candidates_right_side_candidate_card">
          <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_photo">
              <a href="#"><img src=" {% static "images/candidate2.jpg" %} " alt=""></a>
          </div>
          <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details">
              <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_information">
                  <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_name">
                      <h3>philo</h3>
                      <div>artist</div>
                  </div>
                  <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_salary">
                      <span>Salary</span>
                      <div>20$ - 50$</div>
                  </div>
                  <div
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_location">
                      <span>Location</span>
                      <div>Giza</div>
                  </div>
                  <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_actions">
                      <a href="#"><img src=" {% static "icons/eye2.svg" %} " alt=""></a>
                      <div>
                          <button
                              class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_actions_button"><span></span></button>
                          <ul
                              class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_actions_ul">
                              <li><a href="#"><img src=" {% static "icons/eye2.svg" %} " alt="">view</a>
                              </li>
                              <li><a href="#"><img src=" {% static "icons/delete.svg" %} " alt="">delete</a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skills">
                  <span
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">Design</span>
                  <span
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">UI</span>
                  <span
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">Digital</span>
                  <span
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">2+</span>
              </div>
          </div>
      </div>
      <div class="J9_emp_dash_saved_candidates_right_side_candidate_card">
          <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_photo">
              <a href="#"><img src=" {% static "images/candidate1.jpg" %} " alt=""></a>
          </div>
          <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details">
              <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_information">
                  <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_name">
                      <h3>momen</h3>
                      <div>artist</div>
                  </div>
                  <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_salary">
                      <span>Salary</span>
                      <div>20$ - 50$</div>
                  </div>
                  <div
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_location">
                      <span>Location</span>
                      <div>Giza</div>
                  </div>
                  <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_actions">
                      <a href="#"><img src=" {% static "icons/eye2.svg" %} " alt=""></a>
                      <div class="div">
                          <button
                              class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_actions_button"><span></span></button>
                          <ul
                              class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_actions_ul">
                              <li><a href="#"><img src=" {% static "icons/eye2.svg" %} " alt="">view</a>
                              </li>
                              <li><a href="#"><img src=" {% static "icons/delete.svg" %} " alt="">delete</a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skills">
                  <span
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">Design</span>
                  <span
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">UI</span>
                  <span
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">Digital</span>
                  <span
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">2+</span>
              </div>
          </div>
      </div>
      <div class="J9_emp_dash_saved_candidates_right_side_candidate_card">
          <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_photo">
              <a href="#"><img src=" {% static "images/candidate3.jpg" %} " alt=""></a>
          </div>
          <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details">
              <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_information">
                  <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_name">
                      <h3>someone</h3>
                      <div>artist</div>
                  </div>
                  <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_salary">
                      <span>Salary</span>
                      <div>20$ - 50$</div>
                  </div>
                  <div
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_location">
                      <span>Location</span>
                      <div>Giza</div>
                  </div>
                  <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_actions">
                      <a href="#"><img src=" {% static "icons/eye2.svg" %} " alt=""></a>
                      <div class="div">
                          <button
                              class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_actions_button"><span></span></button>
                          <ul
                              class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_actions_ul">
                              <li><a href="#"><img src=" {% static "icons/eye2.svg" %} " alt="">view</a>
                              </li>
                              <li><a href="#"><img src=" {% static "icons/delete.svg" %} " alt="">delete</a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skills">
                  <span
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">Design</span>
                  <span
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">UI</span>
                  <span
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">Digital</span>
                  <span
                      class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">2+</span>
              </div>
          </div>
      </div>
  </div>
</div>
