{% load static %}

<div id="J9_recruiter_dashboard_settings" style="display: none;">
  <form id="J9_recruiter_dashboard_settings_form" class="J9_emp_dash_settings_right_side_body_container" action="{% url 'saveRecSettings' %}" method="post">
      {% csrf_token %}
      <h3>Edit & Update</h3>
      <div class="J9_emp_dash_settings_right_side_body_container_name">
          <div class="J9_emp_dash_settings_right_side_body_container_name_first">
              <label>First Name</label>
              <input id="J9_emp_dash_settings_right_side_body_container_name_first" class="j9Name"
                  name="first_name" type="text" required value="{{ rec.user.first_name }}">
          </div>
          <div class="J9_emp_dash_settings_right_side_body_container_name_last">
              <label>Last Name</label>
              <input id="J9_emp_dash_settings_right_side_body_container_name_last" name="last_name"
                  type="text" required value="{{ rec.user.last_name }}">
          </div>
      </div>

      <div class="J9_emp_dash_settings_right_side_body_container_email">
          <label>Email</label>
          <input id="J9_emp_dash_settings_right_side_body_container_email" class="j9Email"
              name="email" type="text" required value="{{ rec.user.email }}">
      </div>

      <div class="J9_emp_dash_settings_right_side_body_container_phone_num">
          <label>Phone Number</label>
          <input id="J9_emp_dash_settings_right_side_body_container_phone_num" name="phone"
              type="number" required value="{{ rec.user.phone }}">
      </div>

      <div class="J9_emp_dash_settings_right_side_body_container_password">
          <div class="J9_emp_dash_settings_right_side_body_container_password_input">
              <label>Password</label>
              <input id="J9_emp_dash_settings_right_side_body_container_password" name="password"
                  type="password" required placeholder="Password...">
          </div>
          <div class="J9_emp_dash_settings_right_side_body_container_password_change">
              <p>
                  Want to change the password?
                  <a href="#">Click here</a>
              </p>

          </div>
      </div>
      <div class="J9_emp_dash_settings_right_side_body_emp_settings_save_cancel_button">
          <input id="J9_emp_dash_settings_right_side_body_emp_settings_save_button" type="submit"
              value="Submit">
          <input id="J9_emp_dash_settings_right_side_body_emp_settings_cancel_button" type="reset"
              value="Cancel">
      </div>
  </form>

</div>
