#j0_main {
    width: 70%;
    padding: 2%;
    margin-left: 300px;
}

.dashboard-body {
    min-height: 100vh;
    border-radius: 50px 0 0 50px;
    padding: 150px 55px 50px;
}


/* skills */
.j0-skills{
    background-color: white ;
    padding: 45px 60px 50px;
    border-radius: 20px;
    margin-top: 40px;
}

 .skills-wrapper {
    padding: 15px 20px 10px;
    background: #f7f7f7;
    border-radius: 15px;
}

div {
    display: block;
    unicode-bidi: isolate;
}
.dashboard-body .dash-input-wrapper .skills-wrapper ul {
    margin: 0 -5px;
}

.style-none {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.align-items-center {
    align-items: center !important;
}
.flex-wrap {
    flex-wrap: wrap !important;
}
.d-flex {
    display: flex !important;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
ol, ul {
    padding-left: 2rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
.dashboard-body .dash-input-wrapper .skills-wrapper ul li {
    padding: 0 5px 15px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}
.dashboard-body .dash-input-wrapper .skills-wrapper ul li.is_tag button {
    font-size: 15px;
    color: #31795a;
    line-height: 42px;
    padding: 0 40px 0 22px;
    background: #fff;
    box-shadow: 0px 15px 30px rgba(0,0,0,.0363735);
    border-radius: 30px;
    position: relative;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
button {
    border: none;
    outline: none;
    box-shadow: none;
    display: block;
    padding: 0;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
    color: inherit;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
.dashboard-body .dash-input-wrapper .skills-wrapper ul li.is_tag button i {
    position: absolute;
    font-size: 20px;
    right: 10px;
    top: 0;
}
.dashboard-body .dash-input-wrapper .skills-wrapper ul li.more_tag button {
    font-size: 21px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #d2f34c;
}