<!DOCTYPE HTML>
<!-- ========== Philopater ========== -->
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <title> Add New Job</title>
        <link rel="stylesheet" href="Career-Compass\static\styles.css">
  </head>
  <body style="margin: 0px;">
    <header style="background-color: #ccc;">
      <nav>
        <table>
          <tr>
            <td>
              <a href="index.html">
                <img src="media/logopng.png" width="65px" alt="Footer Logo" style="margin-right: 10px;">
              </a>
            </td>
  
            <td>
              <a href="index.html" style="margin-right: 15px;">Home</a>
            </td>
            <td>
              <a href="list_of_jobs.html" style="margin-right: 15px;"">Jobs</a>
              </td>
  
  
              <td>
                <a href=" signup.html" style="margin-right: 15px;">Sign Up</a>
            </td>
  
            <td>
              <a href="search.html" style="margin-right: 15px;">Search</a>
            </td>
  
            <td>
              <a href="login.html" style="margin-right: 15px;">Log In</a>
            </td>

            <td>
              <a href="profile.html" style="margin-right: 30px;">Profile</a>
            </td>
  
            <td>
  
              <form role="search">
                <input type="search" placeholder="Search a Job" aria-label="Search" />
                <button type="submit">
                  Search
                </button>
              </form>
  
            </td>
  
          </tr>
        </table>
  
      </nav>
    </header>
        <section class="main">
    <h1>
        <u>  
          List of candidates
        </u>
      </h1>
      <table border="3">
          <thead>
              <td>ID</td>
              <td>Name of job </td>
              <td> the candidates</td>
          </thead>
          <tr>
              <td>J1</td>
              <td> Front-end web development </td>
              <td> 
                  <ol>
                      <li>mohmmed hany </li> 
                      <input type="button" value="show more">
                      <input type="button" value="accept">
                      <input type="button" value="reject">
                      <li>ali ahmed</li>
                      <input type="button" value="show more">
                      <input type="button" value="accept">
                      <input type="button" value="reject">
                      <li>jhon aymen</li>
                      <input type="button" value="show more">
                      <input type="button" value="accept">
                      <input type="button" value="reject">
                      <li>mona youseef</li>
                      <input type="button" value="show more">
                      <input type="button" value="accept">
                      <input type="button" value="reject">
                  </ol>
                 
              </td>
          </tr>
         
      </table> 
      </div>
  <div>
      </section>
    <footer style="max-width: 80%; margin: auto;">
      <center>
        
        <table>
          <tr>
            <td>
              <a href="index.html">
                <img src="media/logopng.png" width="50px" alt="Footer Logo" style="margin-right: 10px;">
              </a>
            </td>

            <td>
              <a href="index.html" style="margin-right: 10px;">Home</a>
            </td>

            <td>
              <a href="#" style="margin-right: 10px;">Premium</a>
            </td>

            <td>
              <a href="#" style="margin-right: 10px;">FAQs</a>
            </td>

            <td>
              <a href="search.html" style="margin-right: 10px;">Search</a>
            </td>

          </tr>
        </table>
        

        <hr>
        <p>
          © 2024 Career Compass, Inc
        </p>
        <p>
          Developed and Maintained by
        </p>
        <p>
          <a href="https://github.com/momenmedhatsalem">Momen Medhat</a>

          &nbsp;•&nbsp;

          <a href="https://github.com/philokaram">Philopater Karam</a>

          &nbsp;•&nbsp;

          <a href="https://github.com/Joseph-Sameh-0">Joseph Sameh</a>

          &nbsp;•&nbsp;

          <a href="https://github.com/Mahmoud3177Khaled">Mahmoud Khaled</a>

        </p>
      </center>

      <br><br>

    </footer>
  </div>


    </body>
</html>
