<!DOCTYPE HTML>
<!-- ========== Philopater ========== -->
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <title> Add New Job</title>

  </head>
  <body>
    <header>
      <nav
        

      >
        <div>
          <a href="index.html">
            <img src="media/logopng.png" width="60px" alt="Logo" />
          </a>
          <!-- Off-canvas toggle button for small screens -->
          <button
            
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar"
          >
            <span></span>
          </button>
          <!-- Off-canvas content -->
          <div
            
            tabindex="-1"
            id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel"
          >
            <div>
              <h5 id="offcanvasNavbarLabel">Menu</h5>
              <button
                type="button"
                
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>
            <div>
              <ul>
                <li>
                  <a aria-current="page" href="index.html"
                    >Home</a
                  >
                </li>
                <li>
                  <a href="#">Features</a>
                </li>
                <li>
                  <a href="signup.html">Sign Up</a>
                </li>
                <li>
                  <a href="login.html">Log In</a>
                </li>
              </ul>
              <!-- Search form -->
              <form role="search">
                <input
           
                  type="search"
                  placeholder="Search a Job"
                  aria-label="Search"
                />
                <button  type="submit">
                  Search
                </button>
              </form>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <h1>
        <u>  
          List of candidates
        </u>
      </h1>
      <table border="3">
          <thead>
              <td>ID</td>
              <td>Name of job </td>
              <td> the candidates</td>
          </thead>
          <tr>
              <td>J1</td>
              <td> Front-end web development </td>
              <td> 
                  <ol>
                      <li>mohmmed hany </li> 
                      <input type="button" value="show more">
                      <input type="button" value="accept">
                      <input type="button" value="reject">
                      <li>ali ahmed</li>
                      <input type="button" value="show more">
                      <input type="button" value="accept">
                      <input type="button" value="reject">
                      <li>jhon aymen</li>
                      <input type="button" value="show more">
                      <input type="button" value="accept">
                      <input type="button" value="reject">
                      <li>mona youseef</li>
                      <input type="button" value="show more">
                      <input type="button" value="accept">
                      <input type="button" value="reject">
                  </ol>
                 
              </td>
          </tr>
         
      </table> 
      </div>
  <div>
    <footer style="max-width: 80%; margin: auto;">
      <center>
        
        <table>
          <tr>
            <td>
              <a href="index.html">
                <img src="media/logopng.png" width="50px" alt="Footer Logo" style="margin-right: 10px;">
              </a>
            </td>

            <td>
              <a href="index.html" style="margin-right: 10px;">Home</a>
            </td>

            <td>
              <a href="#" style="margin-right: 10px;">Premium</a>
            </td>

            <td>
              <a href="#" style="margin-right: 10px;">FAQs</a>
            </td>

            <td>
              <a href="search.html" style="margin-right: 10px;">Search</a>
            </td>

          </tr>
        </table>
        

        <hr>
        <p>
          © 2024 Career Compass, Inc
        </p>
        <p>
          Developed and Maintained by
        </p>
        <p>
          <a href="https://github.com/momenmedhatsalem">Momen Medhat</a>

          &nbsp;•&nbsp;

          <a href="https://github.com/philokaram">Philopater Karam</a>

          &nbsp;•&nbsp;

          <a href="https://github.com/Joseph-Sameh-0">Joseph Sameh</a>

          &nbsp;•&nbsp;

          <a href="https://github.com/Mahmoud3177Khaled">Mahmoud Khaled</a>

        </p>
      </center>

      <br><br>

    </footer>
  </div>


    </body>
</html>
