<!DOCTYPE html>
<!-- ========== Joseph 20220099 ========== -->
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

  </head>
  <body>
    <header>
      <nav
        

      >
        <div>
          <a href="index.html">
            <img src="media/logopng.png" width="60px" alt="Logo" />
          </a>
          <!-- Off-canvas toggle button for small screens -->
          <button
            
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar"
          >
            <span></span>
          </button>
          <!-- Off-canvas content -->
          <div
            
            tabindex="-1"
            id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel"
          >
            <div>
              <h5 id="offcanvasNavbarLabel">Menu</h5>
              <button
                type="button"
                
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>
            <div>
              <ul>
                <li>
                  <a aria-current="page" href="index.html"
                    >Home</a
                  >
                </li>
                <li>
                  <a href="#">Features</a>
                </li>
                <li>
                  <a href="signup.html">Sign Up</a>
                </li>
                <li>
                  <a href="login.html">Log In</a>
                </li>
              </ul>
              <!-- Search form -->
              <form role="search">
                <input
           
                  type="search"
                  placeholder="Search a Job"
                  aria-label="Search"
                />
                <button  type="submit">
                  Search
                </button>
              </form>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div>
      <!-- 
        <header>
            <div><a href="index.html"> <img src="../../media/logopng.png" width="100px" /></a></div>
            <div>
                <ul>
                    <li><a href="#">Login/Sign up</a></li>
                    <li><a href="Post_a_New_Job.html">Post a job</a></li>
                </ul>
            </div>


            <nav>
                <div>
                    <ul>

                        <li>
                            <a href="#">Dashboard </a>
                            <ul>
                                <li>
                                    <a href="#" target="_blank">Candidate Dashboard</a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">Employer Dashboard</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">Home</a>
                        </li>

                        <li>
                            <a href="#">Job</a>
                            <ul>
                                <li>
                                    <a href="#">Job List</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">Explore</a>
                            <ul>

                                <li>
                                    <a href="#">Candidates</a>
                                </li>

                                <li>
                                    <a href="company-v1.html">Company</a></p>
                                </li>

                                <li>
                                    <div>
                                        Essential
                                        <ul>
                                            <li>
                                                <a href="#">About Us</a>
                                            </li>
                                            <li>
                                                <a href="#">Register</a>
                                            </li>
                                            <li>
                                                <a href="#">404 Error</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>

                            </ul>
                        </li>

                        <li>
                            <a href="#">Contact</a>
                        </li>

                        <li>
                            <a href="Post_a_New_Job.html">Post a job</a>
                        </li>

                    </ul>
                </div>
            </nav>

        </header>
        ->
        <!---------------------------------------------------------------->

      <div>
        <h1>Find & Hire Experts for any Job.</h1>
        <p>
          Unlock your potential with quality job & earn from world leading
          brands.
        </p>
      </div>

      <!---------------------------------------------------------------->

      <section>
        <div>
          <div>
            <div>
              <h2>Most Demanding Categories.</h2>
            </div>
            <div>
              <a href="#">Explore all fields</a>
            </div>
          </div>

          <div>
            <div>
              <div>UI/UX Design</div>
            </div>
            <div>
              <div>Development</div>
            </div>
            <div>
              <div>Marketing</div>
            </div>
            <div>
              <div>Telemarketing</div>
            </div>
            <div>
              <div>Accounting</div>
            </div>
            <div>
              <div>Editing</div>
            </div>
          </div>
        </div>
      </section>

      <!---------------------------------------------------------------->

      <section>
        <div>
          <div>
            <h2>Trending Job</h2>
          </div>
          <div>
            <div>
              <div>Audio & Video Editing.</div>
            </div>
            <div>
              <div>Product & Branding Design</div>
            </div>
            <div>
              <div>Admin & Customer Support</div>
            </div>
            <div>
              <div>WordPress Development.</div>
            </div>
          </div>
        </div>
      </section>
      <br />
      <!---------------------------------------------------------------->

      <section>
        <div>
          Do you want to post a job for your company? We can help.
          <a href="signup.html">Click here</a>
        </div>
      </section>

      <!------------------------------------------------------------------------------------------------------------------------------------------------>
      <section>
        <div>
          <div>
            <h2>Complete job portal for everyone.</h2>
          </div>
          <div>
            <p>Find your dream job & earn from all world the leading brands.</p>
            <ul>
              <li><a href="#">Looking for job?</a></li>
              <!-- go to job list -->
              <li><a href="#">Start Hiring</a></li>
              <!--  go to candidate/recruitment page -->
            </ul>
          </div>
        </div>
      </section>
      <!------------------------------------------------------------------------------------------------------------------------------------------------>
      <div>
        <div>
          <div>
            <a href="index.html">
              <img src="../../media/logopng.png" width="100px" />
            </a>
          </div>
          <div>
            <h5>Services</h5>
            <ul>
              <li><a href="#">Browse Jobs</a></li>
              <li><a href="#">Companies</a></li>
              <li><a href="#">Candidates</a></li>
            </ul>
          </div>
          <div>
            <h5>Company</h5>
            <ul>
              <li><a href="#">About us</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
          <div>
            <h5>Support</h5>
            <ul>
              <li><a href="#">Terms of use</a></li>
              <li><a href="#">Terms & conditions</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Cookie policy</a></li>
            </ul>
          </div>
        </div>

        <div>
          <ul>
            <li><a href="#">Privacy & Terms.</a></li>
            <li><a href="#"> Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>

  <div>
    <footer style="max-width: 80%; margin: auto;">
      <center>
        
        <table>
          <tr>
            <td>
              <a href="index.html">
                <img src="media/logopng.png" width="50px" alt="Footer Logo" style="margin-right: 10px;">
              </a>
            </td>

            <td>
              <a href="index.html" style="margin-right: 10px;">Home</a>
            </td>

            <td>
              <a href="#" style="margin-right: 10px;">Premium</a>
            </td>

            <td>
              <a href="#" style="margin-right: 10px;">FAQs</a>
            </td>

            <td>
              <a href="search.html" style="margin-right: 10px;">Search</a>
            </td>

          </tr>
        </table>
        

        <hr>
        <p>
          © 2024 Career Compass, Inc
        </p>
        <p>
          Developed and Maintained by
        </p>
        <p>
          <a href="https://github.com/momenmedhatsalem">Momen Medhat</a>

          &nbsp;•&nbsp;

          <a href="https://github.com/philokaram">Philopater Karam</a>

          &nbsp;•&nbsp;

          <a href="https://github.com/Joseph-Sameh-0">Joseph Sameh</a>

          &nbsp;•&nbsp;

          <a href="https://github.com/Mahmoud3177Khaled">Mahmoud Khaled</a>

        </p>
      </center>

      <br><br>

    </footer>
  </div>


  </body>
</html>
