{% extends 'layout.html' %}
{% load static %}
{% block title %}Job Details{% endblock %}

{% block content %}

    <!-- ========== Joseph 20220099 ========== -->
<link rel="stylesheet" href="{% static 'css/Job_Details_style.css' %}">

  <section class="main">
    <h1 class="job_title">Job Title: {{job.title}}</h1>

    {% if user.is_applicant %}
      {% if saved == 1 %}
      <div class="save-button-div">
        <button class="save-button " onclick="save(`{{job.job_id}}`)" id="x{{job.job_id}}" style="background-color: green;"><img src="{% static 'saved.png' %}" title="save job" class="save-button-img"> </button>
      </div>

      {% else %}
      <div class="save-button-div">
        <button class="save-button " onclick="save(`{{job.job_id}}`)" id="x{{job.job_id}}" style="background-color: transparent;"><img src="{% static 'saved.png' %}" title="save job" class="save-button-img"> </button>
      </div>
      {% endif %}
    {% endif %}

    <div class="J9_view_container">
      <div class="J9_view_apy_job_details">
        <h3 class="J9_view_plapply_job_details_title">Job Details</h3>

        {% if user.is_recruiter %}
        <div class="J9_view_apply_job_details_job_id">
          <label>Job ID</label>
          <input type="number" value="{{ job.job_id }}" disabled/>
        </div>
        {% endif %}

        <div class="J9_view_apply_job_details_job_title">
          <label>Job Title</label>
          <input type="text" value="{{ job.title }}" disabled/>
        </div>

        <div class="J9_view_apply_job_details_company_name">
          <label>Company Name</label>
          <input type="text" value="{{ job.company_name }}" disabled />
        </div>
        
        <div class="J9_view_apply_job_details_job_status_years_of_experience">
          <div class="J9_view_apply_job_details_job_status">
            <label>Job Status</label>
            <input type="text" value="{{ job.status }}" disabled />
            
          </div>
          <div class="J9_view_apply_job_details_years_of_experience">
            <label>years of experience</label>
            <input type="number" value="{{ job.years_of_experience }}" disabled />
          </div>

        </div>
        <div class="J9_view_apply_job_details_job_description">
          <label>Job Description</label>
          <textarea disabled>{{ job.description }}</textarea>
        </div>

        <div class="J9_view_apply_job_details_job_category_type_Salary">
          <div class="J9_view_apply_job_details_job_category_type">
            <div class="J9_view_apply_job_details_job_category">
              <label>Job Category</label>
              <input type="text" value="{{ job.category }}" disabled />
            </div>
            
            <div class="J9_view_apply_job_details_job_type">
              <label>Job Type</label>
              <input type="text" value= "{{ job.type }}" disabled />
            </div>
          </div>

          <div class="J9_view_apply_job_details_job_salary">
            <div class="J9_view_apply_job_details_job_salary_type">
              <label>Salary</label>
              <input type="text" value="{{ job.salary }}" disabled />
            </div>

            <div class="J9_view_apply_job_details_job_salary_min_max">
              <div><input type="number" value="{{ job.MinSalary }}" disabled /></div>
              <div><input type="number" value="{{ job.MaxSalary }}" disabled /></div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="J9_view_apply_skills_experience">
        <h3>English Experience</h3>
        <div class="J9_view_apply_experience">
          <div>
            <label>English Fluency</label>
            <div><input type="text" value="{{ job.english_fluency }}" disabled/></div>
          </div>

          <div>
            <label>Experience</label>
            <div><input type="text" value="{{ job.experience }}" disabled /></div>
          </div>

        </div>
      </div>

      <div class="J9_view_emp_address_location">
        <h3 class="J9_view_emp_address_location_title">Address &
          Location
        </h3>

        <div class="J9_view_emp_address">
          <label>Address</label>
          <input type="text" value="{{ job.address }}" disabled>
        </div>
        
        <div class="J9_view_emp_location">
          <div class="J9_view_emp_location_country">
            <label>Country</label>
            <input type="text" value="{{ job.country }}"disabled>
          </div>
          
          <div class="J9_view_emp_location_city">
            <label>City</label>
            <input type="text" value="{{ job.city }}"disabled>
          </div>

          <div class="J9_view_emp_location_zip_code">
            <label>Zip Code</label>
            <input type="number" value="{{  job.zip_code }}" disabled/>
          </div>
          
          <div class="J9_view_emp_location_state">
            <label>State</label>
            <input type="text" value="{{  job.state }}" disabled/>
          </div>
        </div>
      </div>
    </div>

    {% comment %} <div class="job-details">
      <h2>Description:</h2>
      <p>{{ job.description }}</p>
    </div>
    <div class="job-details">
      <h2>Requirements:</h2>
      <ul>
        <li>Bachelor's degree in Computer Science or related field.</li>
        <li>2+ years of experience in software development.</li>
        <li>Proficiency in Java, Python, or similar programming languages.</li>
        <li>Strong problem-solving skills.</li>
      </ul>
    </div>
    <div class="job-details">
      <h2>Responsibilities:</h2>
      <ul>
        <li>Developing high-quality software design and architecture.</li>
        <li>
          Identifying, prioritizing, and executing tasks in the software
          development lifecycle.
        </li>
        <li>
          Developing tools and applications by producing clean, efficient code.
        </li>
        <li>Automating tasks through appropriate tools and scripting.</li>
      </ul>
    </div>
    <div class="job-details">
      <h2>Application Deadline:</h2>
      <p>January 1, 2025</p>
    </div> {% endcomment %}

    {% if user.is_applicant %}
    <button class="apply_button" onclick="confirmApplication({{job.job_id}},{{user.id}})">Apply</button>
    {% elif user.is_recruiter %}
    <button onclick="confirmApplication()">Apply</button>
    {% elif user.is_recruiter and job.recruiter.user.username == user.username%}
    <a class="J9_edit_button" href="{% url "editJob" job_id=job.job_id recruiter_username=job.recruiter.user.username  %}" >Edit</a>
    {% endif %}

    <div>
  </section>

  </div>
  <script src="{%static 'js/job_Details.js' %}"></script>
{% endblock %}
