{% load static %}


<header class="J9_header" style="background-color: #ccc;">


  <a href="{% url "jobs" %}" class="J9_header_logo">
    <img class="J9_header_logo" src="{% static 'images/logopng.png' %}" width="100px" />
  </a>

  <nav class="J9_nav_in_header">
    <ul class="J9_nav_ul_in_header">
      <li class="J9_nav_ul_item_in_header">
        <a href="{% url 'profile'%}">Profile</a>
      </li>

      <li class="J9_nav_ul_item_in_header">
        <a href="{% url "jobs" %}">Jobs</a>
      </li>

      <li class="J9_nav_ul_item_in_header J9_explore">
        <a href="#">Explore</a>
        <div class="J9_explore_cols">
          <div class="J9_explore_col">
            <a href="{% url "index" %}">Home</a>
          </div>

          <div class="J9_explore_col">
            <a href="{% url "search" %}">Search</a>
          </div>

          <div class="J9_explore_col">

            <ul class="J9_nav_ul_ul_explore_in_header">

              <li class="J9_nav_ul_ul_item_in_header">
                <a href="/accounts/signup/applicant" >Register</a>
              </li>

            </ul>
          </div>
        </div>
      </li>
      <!-- 
        <li class="J9_nav_ul_item_in_header">
          <a href="#">Contact</a>
        </li> -->

      <li class="J9_nav_ul_item_in_header">
        <a {% if user.is_recruiter %} href="{% url "checkCandidates" %}" {% else %} href="{% url "search" %}" {% endif %} >Search</a>
      </li>

      <li class="J9_nav_ul_item_in_header">
        <a href="{% url "about" %}">About Us</a>
      </li>

    </ul>
  </nav>
  <a class="J9_login_signup_find_post"
  {% if not request.user.is_authenticated %}
    id="J9_login_signup" href="{% url 'login' %}"
    {% elif user.is_applicant %}
    id="J9_look_for_a_job" href="{% url 'jobs' %}" 
    {% elif user.is_recruiter %}
    id="J9_post_job" href="{% url 'recruiterDashboard' %}"
    {% else %}
    id="J9_login_signup" href="{% url 'logout' %}"
  {% endif %}
  >

  {% if not request.user.is_authenticated %}
    Login/Sign up
  {% elif user.is_applicant %}
    look for a job
  {% elif user.is_recruiter %}
    Post a job
  {% else %}
  you are an admin, logout
  {% endif %}

</a>
  <!-- <div id="J9_login_signup_container" class="J9_login_signup">
    <ul class="J9_login_signup_ul">
      <li id="J9_login_signup" style="display: none;"><a href="login.html">Login/Sign up</a></li>
      <li id="J9_login_signup_post" style="display: none;"><a href="/templates/recruiter_dashboard.html">Post a
        job</a></li>
      </ul>
    </div> -->
    {% if user.is_authenticated %}
    <a href="{% url 'logout'%}" class="J9_floating_log_out_button">
      <span>log out</span>
    </a>
    {% endif %}
  <script src= "{% static "load_profile.js" %}"></script>
</header>
