{% load static %}
<!DOCTYPE html>
<!-- ========== Momen Medhat Salem 20221258 ========== -->
<html class="J9_html" lang="en" data-bs-theme="dark">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Career Compass{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <script src="{% static 'js/header.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
<script src=" {% static "signup.js" %}"></script>
<script src=" {% static "logout.js" %}"></script>

<script src=" {% static "logout.js" %}"></script>


  <!--Mahmoud files -->
  <link rel="stylesheet" href="{% static 'css/search_styl.css' %}">
  <script src="/static/js/searchhh.js"></script>

  <!--Philo-->

  <title>Document</title>

</head>

<body class="J9_body">
  {% include "Joseph_header.html" %}

  {% block content %}
  <!-- Default content block -->
  {% endblock %}

  {% include "Joseph_footer.html" %}

</body>

</html>
