<!DOCTYPE HTML>
<!-- ========== Philopater ========== -->
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <title> Add New Job</title>

  </head>
  <body style="margin: 0px;">
    <header style="background-color: #ccc;">
      <nav>
        <table>
          <tr>
            <td>
              <a href="index.html">
                <img src="media/logopng.png" width="65px" alt="Footer Logo" style="margin-right: 10px;">
              </a>
            </td>
  
            <td>
              <a href="index.html" style="margin-right: 15px;">Home</a>
            </td>
  
            <td>
              <a href="#" style="margin-right: 15px;"">Features</a>
              </td>
  
              <td>
                <a href=" signup.html" style="margin-right: 15px;">Sign Up</a>
            </td>
  
            <td>
              <a href="search.html" style="margin-right: 15px;">Search</a>
            </td>
  
            <td>
              <a href="login.html" style="margin-right: 15px;">Log In</a>
            </td>

            <td>
              <a href="profile.html" style="margin-right: 30px;">Profile</a>
            </td>
  
            <td>
  
              <form role="search">
                <input type="search" placeholder="Search a Job" aria-label="Search" />
                <button type="submit">
                  Search
                </button>
              </form>
  
            </td>
  
          </tr>
        </table>
  
      </nav>
    </header>
     
    <h1>
        <u>  
          <!-- -------------- -->
          Jobs You added 
        </u>
      </h1>
      <table border="3">
          <thead>
              <td>ID</td>
              <td>Information</td>
          </thead>
          <tr>
              <td>J1</td>
              <td> 
                  <h3> 
                      <u> Front-end web development </u>
                      <a href="Edit_Job.html">
                        <input type="button" value="Edit"> 
                      </a>
                      <input type="button" value="Delete"> 
                  </h3> 
                  <p> you will create everything the user can see it on 
                      <br> a web page. </p> 
                  
              </td>
          </tr>
          <tr>
              <td>J2</td>
              <td> 
                  <h3>
                      <u> Back-end web development </u>
                      <a href="Edit_Job.html">
                        <input type="button" value="Edit"> 
                      </a> 
                      <input type="button" value="Delete"> 
                  </h3> 
                  <p>you will make it possible to access website information 
                      <br> efficiently and securely. </p> 
              </td>
          </tr>
          <tr>
              <td>J3</td>
              <td> 
                  <h3> 
                      <u> Software Developer </u>
                      <a href="Edit_Job.html">
                        <input type="button" value="Edit"> 
                      </a>
                      <input type="button" value="Delete"> 
                  </h3> 
                  <p>you will create new software and improve existing 
                  <br>software applications. </p> 
              </td>
          </tr>
          <tr>
              <td>J4</td>
              <td> 
                  <h3>
                      <u> Data Analyst </u>
                      <a href="Edit_Job.html">
                        <input type="button" value="Edit"> 
                      </a> 
                      <input type="button" value="Delete"> 
                  </h3> 
                  <p>you will collect, clean, and interpret data sets in order 
                      <br>to answer a question or solve a problem. </p> 
              </td>
          </tr> 
      </table> 
      </div>
  <div>
    <footer style="max-width: 80%; margin: auto;">
      <center>
        
        <table>
          <tr>
            <td>
              <a href="index.html">
                <img src="media/logopng.png" width="50px" alt="Footer Logo" style="margin-right: 10px;">
              </a>
            </td>

            <td>
              <a href="index.html" style="margin-right: 10px;">Home</a>
            </td>

            <td>
              <a href="#" style="margin-right: 10px;">Premium</a>
            </td>

            <td>
              <a href="#" style="margin-right: 10px;">FAQs</a>
            </td>

            <td>
              <a href="search.html" style="margin-right: 10px;">Search</a>
            </td>

          </tr>
        </table>
        

        <hr>
        <p>
          © 2024 Career Compass, Inc
        </p>
        <p>
          Developed and Maintained by
        </p>
        <p>
          <a href="https://github.com/momenmedhatsalem">Momen Medhat</a>

          &nbsp;•&nbsp;

          <a href="https://github.com/philokaram">Philopater Karam</a>

          &nbsp;•&nbsp;

          <a href="https://github.com/Joseph-Sameh-0">Joseph Sameh</a>

          &nbsp;•&nbsp;

          <a href="https://github.com/Mahmoud3177Khaled">Mahmoud Khaled</a>

        </p>
      </center>

      <br><br>

    </footer>
  </div>


    </body>
</html>
