{% extends 'layout.html' %}
{% load static %}
{% block title %}/ist of jobs{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/list_of_jobs.css' %}">

  <!-- ----------------------------------------------------------------------------------- -->
  <section class="main">
    <div class="title">
    <img class="img-h1" src="{% static 'job.png' %}">
    <h1>
      Jobs
    </h1>
    </div>
    <table class="table">
      <tr class="tr">
        {% for job in saved_jobs %}
        <td class="td">
          <h3>
            {{ job.job.title  }}
          </h3>
          <div class="save-button-div">
            <button class="save-button " onclick="save(`{{job.job.job_id}}`)" id="x{{job.job.job_id}}" style="background-color: green;"><img src="{% static 'saved.png' %}" title="save job" class="save-button-img"> </button>
          </div>
          <div class="salary">${{job.job.MinSalary}} - {{job.job.MaxSalary}} / {{job.job.salary}}</div>
          <div class="location">{{job.job.city}}, {{job.job.country}}</div>
          <a class="view-button" href="#">View details</a>
        </td>
    {% endfor %}   
        {% for job in other_jobs %}
            <td class="td">
              <h3>
                {{ job.title  }}
              </h3>
              <div class="save-button-div">
                <button class="save-button " onclick="save(`{{job.job_id}}`)" id="x{{job.job_id}}" style="background-color: transparent;"><img src="{% static 'saved.png' %}" title="save job" class="save-button-img"> </button>
              </div>
              <div class="salary">${{job.MinSalary}} - {{job.MaxSalary}} / {{job.salary}}</div>
              <div class="location">{{job.city}}, {{job.country}}</div>
              <a class="view-button" href="#">View details</a>
            </td>
        {% endfor %}   
        {% for job in jobs %}
        <td class="td">
          <h3>
            {{ job.title  }}
          </h3>
          <div class="salary">${{job.MinSalary}} - {{job.MaxSalary}} / {{job.salary}}</div>
          <div class="location">{{job.city}}, {{job.country}}</div>
          <a class="view-button" href="#">View details</a>
        </td>
    {% endfor %}   
  </tr>
    </table>
    </div>
    <div>
  </section>
  <script src="{%static 'js/list_of_jobs.js' %}"></script>


{% endblock %}
