<!DOCTYPE html>
<!-- ========== Momen Medhat Salem 20221258 ========== -->
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>

  </head>
  <body>
    <header>
      <nav
        class="navbar navbar-expand-lg bg-body-tertiary"
        data-bs-theme="dark"
      >
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html">
            <img src="media/logopng.png" width="60px" alt="Logo" />
          </a>
          <!-- Off-canvas toggle button for small screens -->
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Off-canvas content -->
          <div
            class="offcanvas offcanvas-start"
            tabindex="-1"
            id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel"
          >
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
              <button
                type="button"
                class="btn-close text-reset"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="index.html"
                    >Home</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="signup.html">Sign Up</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="login.html">Log In</a>
                </li>
              </ul>
              <!-- Search form -->
              <form class="d-flex mt-1" role="search">
                <input
                  class="form-control me-3"
                  type="search"
                  placeholder="Search a Job"
                  aria-label="Search"
                />
                <button class="btn btn-outline-success" type="submit">
                  Search
                </button>
              </form>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <h1>Log In</h1>
    <div class="container">
        <form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

    </div>
    <div class="container">
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item">
            <a href="index.html" class="nav-link px-2 text-body-secondary"
              ><img src="media/logopng.png" width="50px" alt="Footer Logo"
            /></a>
          </li>
          <li class="nav-item">
            <a href="index.html" class="nav-link px-2 text-body-secondary"
              >Home</a
            >
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-body-secondary">Premium</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-body-secondary">FAQs</a>
          </li>
          <li class="nav-item">
            <a href="search.html" class="nav-link px-2 text-body-secondary"
              >Search</a
            >
          </li>
        </ul>
        <p class="text-center text-body-secondary">
          © 2024 Career Compass, Inc
        </p>
        <p class="text-center text-body-secondary">
          Developed and Maintained by
        </p>
        <p class="text-center text-body-secondary">
          <a href="https://github.com/momenmedhatsalem" class="text-light"
            >Momen Medhat</a
          >
        </p>
        <p class="text-center text-body-secondary">
          <a href="https://github.com/philokaram" class="text-light"
            >Philopater Karam</a
          >
        </p>
        <p class="text-center text-body-secondary">
          <a href="https://github.com/Joseph-Sameh-0" class="text-light"
            >Joseph Sameh</a
          >
        </p>
        <p class="text-center text-body-secondary">
          <a href="https://github.com/Mahmoud3177Khaled" class="text-light"
            >Mahmoud Khaled</a
          >
        </p>
      </footer>
    </div>


  </body>
</html>
