<!DOCTYPE html>
<!-- ========== Momen Medhat Salem 20221258 ========== -->

<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles.css">
  </head>
  <body style="margin: 0px;">
    <header style="background-color: #ccc;">
      <nav>
        <table>
          <tr>
            <td>
              <a href="index.html">
                <img src="media/logopng.png" width="65px" alt="Footer Logo" style="margin-right: 10px;">
              </a>
            </td>
  
            <td>
              <a href="index.html" style="margin-right: 15px;">Home</a>
            </td>
            <td>
              <a href="list_of_jobs.html" style="margin-right: 15px;"">Jobs</a>
              </td>
  
  
              <td>
                <a href=" signup.html" style="margin-right: 15px;">Sign Up</a>
            </td>
  
            <td>
              <a href="search.html" style="margin-right: 15px;">Search</a>
            </td>
  
            <td>
              <a href="login.html" style="margin-right: 15px;">Log In</a>
            </td>

            <td>
              <a href="profile.html" style="margin-right: 30px;">Profile</a>
            </td>
  
            <td>
  
              <form role="search">
                <input type="search" placeholder="Search a Job" aria-label="Search" />
                <button type="submit">
                  Search
                </button>
              </form>
  
            </td>
  
          </tr>
        </table>
  
      </nav>
    </header>
        <section class="main">
        <h1>Recruiter Sign Up</h1>
    <div >
        <form>
  <div >
    <label for="First_name">First Name</label>
    <input type="text" id="First_name" name="First_name" aria-describedby="emailHelp">
  </div>
  <div >
    <label for="last_name">Last Name</label>
    <input type="text" id="last_name" name="last_name">
  </div>
  <div >
    <label for="InputEmail1">Email address</label>
    <input type="email" id="InputEmail1" name="InputEmail1">

  </div>
  <div >
    <label for="InputPhone">Phone Number</label>
    <input type="tel" id="InputPhone" name="InputPhone">

  </div>
  <div >
    <label for="InputPassword1">Password</label>
    <input type="password" id="InputPassword1" name="InputPassword1">
  </div>

  <button type="submit">Submit</button>
</form>
  <div>
      </section>
    <footer style="max-width: 80%; margin: auto;">
      <center>
        
        <table>
          <tr>
            <td>
              <a href="index.html">
                <img src="media/logopng.png" width="50px" alt="Footer Logo" style="margin-right: 10px;">
              </a>
            </td>

            <td>
              <a href="index.html" style="margin-right: 10px;">Home</a>
            </td>

            <td>
              <a href="#" style="margin-right: 10px;">Premium</a>
            </td>

            <td>
              <a href="#" style="margin-right: 10px;">FAQs</a>
            </td>

            <td>
              <a href="search.html" style="margin-right: 10px;">Search</a>
            </td>

          </tr>
        </table>
        

        <hr>
        <p>
          © 2024 Career Compass, Inc
        </p>
        <p>
          Developed and Maintained by
        </p>
        <p>
          <a href="https://github.com/momenmedhatsalem">Momen Medhat</a>

          &nbsp;•&nbsp;

          <a href="https://github.com/philokaram">Philopater Karam</a>

          &nbsp;•&nbsp;

          <a href="https://github.com/Joseph-Sameh-0">Joseph Sameh</a>

          &nbsp;•&nbsp;

          <a href="https://github.com/Mahmoud3177Khaled">Mahmoud Khaled</a>

        </p>
      </center>

      <br><br>

    </footer>
  </div>


</body>
</html>