{% extends 'layout.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block content %}


<link rel="stylesheet" href="{% static 'css/recruiter_dashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/recruiter_dashboard_profile.css' %}">
<link rel="stylesheet" href="{% static 'css/recruiter_dashboard_jobs.css' %}">
<link rel="stylesheet" href="{% static 'css/recruiter_dashboard_post_job.css' %}">
<link rel="stylesheet" href="{% static 'css/recruiter_dashboard_saved_candidates.css' %}">
<link rel="stylesheet" href="{% static 'css/recruiter_dashboard_settings.css' %}">

<script src="{% static 'js/recruiter_dashboard_saved_candidates.js' %}"></script>
<script src="{% static 'js/job.js' %}"></script>
<script src="{% static 'js/logout.js' %}"></script>
<script src="{% static 'js/edit_profile.js' %}"></script>

<div class="J9_emp_dash_body J9">

    {% include "recruiter_dashboard/aside.html" %}

    <div class="J9_emp_dash_right_side">
        <div class="J9_emp_dash_right_side_container">

            <div class="J9_emp_dash_right_side_body">

                <div class="J9_emp_dash_right_side_body_title">
                    <h2 id="J9_emp_dash_right_side_body_title">Profile</h2>
                </div>

                {% include "recruiter_dashboard/profile.html" %}
                {% include "recruiter_dashboard/jobs.html" %}
                {% include "recruiter_dashboard/post_job.html" %}
                {% include "recruiter_dashboard/saved_candidates.html" %}
                {% include "recruiter_dashboard/settings.html" %}

            </div>

        </div>
    </div>

</div>

<script src="{% static 'js/recruiter_dashboard.js' %}"></script>
<script src="{% static 'js/recruiter_dashboard_jobs.js' %}"></script>
<script src="{% static 'js/recruiter_dashboard_post_job.js' %}"></script>
<script src="{% static 'js/recruiter_dashboard_saved_candidates.js' %}"></script>
<script src="{% static 'js/recruiter_dashboard_profile.js' %}"></script>
<script src="{% static 'js/recruiter_dashboard_settings.js' %}"></script>


{% endblock %}
