{% extends 'layout.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block content %}


<link rel="stylesheet" href="{% static 'css/recruiter_dashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/recruiter_dashboard_profile.css' %}">
<link rel="stylesheet" href="{% static 'css/recruiter_dashboard_jobs.css' %}">
<link rel="stylesheet" href="{% static 'css/recruiter_dashboard_post_job.css' %}">
<link rel="stylesheet" href="{% static 'css/recruiter_dashboard_saved_candidates.css' %}">
<link rel="stylesheet" href="{% static 'css/recruiter_dashboard_settings.css' %}">

<script src="{% static 'js/recruiter_dashboard_saved_candidates.js' %}"></script>
<script src="{% static 'js/job.js' %}"></script>
<script src="{% static 'js/logout.js' %}"></script>
<script src="{% static 'js/edit_profile.js' %}"></script>

<div class="J9_emp_dash_body J9">

    <aside class="J9_emp_dash_aside">
        <div class="J9_emp_dash_aside_fixed">

            <div class="J9_emp_dash_aside_logo_prof_pic">
                <a class="J9_emp_dash_aside_prof_pic" href="{% url "recruiterDashboard" %}">
                    <img {% if rec.user.photo.url != null %} src="{{rec.user.photo.url}}" {% else %}
                        src=" {% static "images/employer.png" %}" {% endif %} alt="profile photo">
                </a>
                <h3 id="J9_emp_dash_aside_prof_username" >{{ rec.user.username }}</h3>
            </div>
            <div class="J9_emp_dash_aside_menu_bar">
                <p class="J9_emp_dash_aside_menu_bar_button" J9_to_path="J9_recruiter_dashboard_profile">
                    <img J9_to_path="J9_recruiter_dashboard_profile" src="{% static 'icons/profile.svg' %}"
                        alt="profileIco">
                    <span J9_to_path="J9_recruiter_dashboard_profile">My Profile</span>
                </p>
                <p class="J9_emp_dash_aside_menu_bar_button" J9_to_path="J9_recruiter_dashboard_jobs">
                    <img J9_to_path="J9_recruiter_dashboard_jobs" src="{% static 'icons/list.svg' %}" alt="ListIco">
                    <span J9_to_path="J9_recruiter_dashboard_jobs">My Jobs</span>
                </p>
                <p class="J9_emp_dash_aside_menu_bar_button" J9_to_path="J9_recruiter_dashboard_post_job">
                    <img J9_to_path="J9_recruiter_dashboard_post_job" src="{% static 'icons/pen.svg' %}" alt="penIco">
                    <span J9_to_path="J9_recruiter_dashboard_post_job">Submit Job</span>
                </p>
                <p class="J9_emp_dash_aside_menu_bar_button" J9_to_path="J9_recruiter_dashboard_saved_candidates">
                    <img J9_to_path="J9_recruiter_dashboard_saved_candidates" src="{% static 'icons/bookmark.svg' %}"
                        alt="BookmarkIco">
                    <span J9_to_path="J9_recruiter_dashboard_saved_candidates">Saved
                        candidates</span>
                </p>
                <p class="J9_emp_dash_aside_menu_bar_button" J9_to_path="J9_recruiter_dashboard_settings">
                    <img J9_to_path="J9_recruiter_dashboard_settings" src="{% static 'icons/setting.svg' %}"
                        alt="setting">
                    <span J9_to_path="J9_recruiter_dashboard_settings">Account
                        Settings</span>
                </p>

            </div>
            <a href="{% url 'logout'%}" class="J9_emp_dash_aside_logout" href="#">
                <img src="{% static 'icons/logout.svg' %}" alt="LogoutIco">
                <span>log out</span>
            </a>
        </div>
    </aside>

    <div class="J9_emp_dash_right_side">
        <div class="J9_emp_dash_right_side_container">
            <!-- <div class="J9_emp_dash_right_side_top_nav">
    
    
                <p class="J9_emp_dash_right_side_top_nav_post_button" J9_to_path="J9_recruiter_dashboard_post_job">
                    Post a Job</p>
    
            </div> -->

            <div class="J9_emp_dash_right_side_body">
                <div class="J9_emp_dash_right_side_body_title">
                    <h2 id="J9_emp_dash_right_side_body_title">Profile</h2>
                </div>

                <div id="J9_recruiter_dashboard_profile">
                    <form class="J9_emp_dash_prof_right_side_body_emp_divs" id="J9_employer_profile_form" action="{% url 'save_recruiter_profile' %}" method="post">
                        {% csrf_token %}
                        <div class="J9_emp_dash_prof_right_side_body_emp_information">
                            <div class="J9_emp_dash_prof_right_side_body_emp_information_photo">
                                <img id="J9_recruiter_viewed_profile_photo" {% if rec.user.photo.url != null %}
                                    src="{{rec.user.photo.url}}" {% else %} src=" {% static "images/employer.png" %} " {% endif %} alt="profile photo">
                                <div>
                                    <label class="J9_custom_file_upload">Upload new photo <input
                                            id="J9_recruiter_profile_photo" name="profile_photo" type="file"
                                            accept="image/x-png,image/jpg" /> </label>
                                </div>
                                <button
                                    class="J9_emp_dash_prof_right_side_body_emp_information_photo_delete" {% if rec.user.phone.url == null %} disabled {% endif %}>Delete</button>
                            </div>

                            <div class="J9_emp_dash_prof_right_side_body_emp_information_name">
                                <label>Employer Name</label>
                                <input id="J9_emp_dash_prof_right_side_body_emp_information_name" class="j9Name"
                                    name="employer_name" type="text" disabled value="{{ rec.user.first_name }}">
                            </div>

                            <div class="J9_emp_dash_prof_right_side_body_emp_information_email">
                                <label>Email</label>
                                <input id="J9_emp_dash_prof_right_side_body_emp_information_email" class="j9Email"
                                    name="employer_email" type="email" disabled value="{{ rec.user.email }}">
                            </div>

                            <div class="J9_emp_dash_prof_right_side_body_emp_information_website">
                                <label>Website</label>
                                <input id="J9_emp_dash_prof_right_side_body_emp_information_website"
                                    name="rec_website" type="text" {% if rec.website %} value="{{ rec.website }}" {% endif %} placeholder="http://something.com">
                            </div>

                            <div class="J9_emp_dash_prof_right_side_body_emp_information_founded_date">
                                <label>Founded Date</label>
                                <input id="J9_emp_dash_prof_right_side_body_emp_information_founded_date"
                                    name="founded_date" type="date" required value="{{ rec.founded_date }}">
                            </div>

                            <div class="J9_emp_dash_prof_right_side_body_emp_information_company_size">
                                <label>Company Size</label>
                                <input id="J9_emp_dash_prof_right_side_body_emp_information_company_size"
                                    name="company_size" type="number" value="{{ rec.company_size }}" placeholder="600">
                            </div>

                            <div class="J9_emp_dash_prof_right_side_body_emp_information_phone_number">
                                <label>Phone Number</label>
                                <input id="J9_emp_dash_prof_right_side_body_emp_information_phone_number"
                                    name="phone_number" type="tel" disabled value="{{ rec.user.phone }}">
                            </div>

                            <div class="J9_emp_dash_prof_right_side_body_emp_information_category">
                                <label>Category*</label>
                                <input id="J9_emp_dash_prof_right_side_body_emp_information_category" name="category"
                                    type="text" required {% if rec.category %}  value="{{ rec.category }}" {% endif %} placeholder="Account, Finance, Marketing">
                            </div>

                            <div class="J9_emp_dash_prof_right_side_body_emp_information_about_company">
                                <label>About Company*</label>
                                <textarea id="J9_emp_dash_prof_right_side_body_emp_information_about_company" name="about_company" required placeholder="About Company.....">{% if rec.about_company %}{{ rec.about_company }}{% endif %}</textarea>
                            </div>

                        </div>

                        <div class="J9_emp_dash_prof_right_side_body_emp_social_media">
                            <h3 class="J9_emp_dash_prof_right_side_body_emp_social_media_title">Social Media</h3>

                            <div class="J9_emp_dash_prof_right_side_body_emp_social_media_links"
                                id="J9_emp_dash_prof_right_side_body_emp_social_media_links">
                                {% for link in rec.social_media %}
                                <div class="J9_emp_dash_prof_right_side_body_emp_social_media_link">
                                    <label class="J9_emp_dash_prof_right_side_body_emp_social_media_link_number">Network {{forloop.counter}}</label>
                                    <input name="social_media_link" type="text" value="{{link}}">
                                </div>
                                    {% endfor %}
                            </div>

                            <a href="#" onclick="J9_rec_social_media_add_link()"
                                class="J9_emp_dash_prof_right_side_body_emp_social_media_add_link"> <b>+</b> Add
                                more
                                link</a>
                        </div>

                        <div class="J9_emp_dash_prof_right_side_body_emp_address_location">
                            <h3 class="J9_emp_dash_prof_right_side_body_emp_address_location_title">Address &amp; Location</h3>
                            </h3>
                            <div class="J9_emp_dash_prof_right_side_body_emp_address">
                                <label>Address*</label>
                                <input id="J9_emp_dash_prof_right_side_body_emp_address" name="address" type="text"
                                    required {% if rec.address %} value="{{ rec.address }}" {% endif %} placeholder="Giza">
                            </div>
                            <div class="J9_emp_dash_prof_right_side_body_emp_location">
                                <div class="J9_emp_dash_prof_right_side_body_emp_location_country">
                                    <label>Country*</label>
                                    <select id="J9_emp_dash_prof_right_side_body_emp_location_country" name="country"
                                        required >
                                        <option value="" selected disabled hidden>Country</option>
                                        {% for country in countries %}
                                        <option {% if rec.country == country %}selected{% endif %} value="{{ country }}">{{ country }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="J9_emp_dash_prof_right_side_body_emp_location_city">
                                    <label>City*</label>
                                    <select id="J9_emp_dash_prof_right_side_body_emp_location_city" name="city"
                                        required>
                                        <option value="" {% if not rec.city %}selected {% endif %} disabled hidden>City</option>
                                        {% for city in cities %}
                                        <option {% if rec.city == city %}selected{% endif %} value="{{ city }}">{{ city }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="J9_emp_dash_prof_right_side_body_emp_location_zip_code">
                                    <label>Zip Code*</label>
                                    <input id="J9_emp_dash_prof_right_side_body_emp_location_zip_code" name="zip_code"
                                        type="number" required {% if rec.zip_code %} value="{{ rec.zip_code }}" {% endif %} placeholder="3740614">
                                </div>
                                <div class="J9_emp_dash_prof_right_side_body_emp_location_state">
                                    <label>State*</label>
                                    <select id="J9_emp_dash_prof_right_side_body_emp_location_state" name="state"
                                        required >
                                        <option value="" {% if not rec.state %}selected {% endif %} disabled hidden>State</option>
                                        {% for state in states %}
                                        <option {% if rec.state == state %}selected{% endif %} value="{{ state }}">{{ state }}</option>
                                        {% endfor %}
                                    </select>

                                </div>
                            </div>
                        </div>


                        <div class="J9_emp_dash_prof_right_side_body_emp_profile_save_cancel_button">
                            <input id="J9_emp_dash_prof_right_side_body_emp_profile_save_button" type="submit"
                                value="save">
                            <input id="J9_emp_dash_prof_right_side_body_emp_profile_cancel_button" type="reset"
                                value="Cancel">
                        </div>

                    </form>
                </div>

                <div id="J9_recruiter_dashboard_jobs" style="display: none;">
                    <div class="J9_emp_dash_jobs_right_side_body_emp_jobs">
                        <table class="J9_emp_dash_jobs_right_side_body_emp_jobs_table">
                            <thead class="J9_emp_dash_jobs_right_side_body_emp_jobs_table_head">
                                <tr class="J9_emp_dash_jobs_right_side_body_emp_jobs_table_head_row">
                                    <th scope="col">Title</th>
                                    <th scope="col">Job Created</th>
                                    <th scope="col">Applicants</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody id="J9_emp_dash_jobs_right_side_body_emp_jobs_table_body"
                                class="J9_emp_dash_jobs_right_side_body_emp_jobs_table_body">
                                {% for job in rec_jobs %}
                                <tr class="J9_emp_dash_jobs_right_side_body_emp_jobs_table_body_row" id="J9_job{{job.job_id}}">
                                    <td class="J9_emp_dash_jobs_right_side_body_emp_jobs_table_body_row_title">
                                        <div>{{job.title}}</div>
                                        <div>{{job.type}} . {{job.country}}</div>
                                    </td>
                                    <td>{{job.creation_date|date:"M d, Y, g:i a"}}</td>
                                    <td class="J9_randomNumberOfApplications"></td>
                                    <td>
                                        <div
                                        {% if job.status == "open" %}
                                        class = "J9_open J9_emp_dash_jobs_right_side_body_emp_jobs_table_body_row_status"
                                        {% elif job.status == "closed" %}
                                        class = "J9_closed J9_emp_dash_jobs_right_side_body_emp_jobs_table_body_row_status"
                                        {% endif %}>
                                        {{job.status}}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="J9_emp_dash_jobs_right_side_body_emp_jobs_table_body_row_action_dots">
                                            <button class="J9_emp_dash_jobs_right_side_body_emp_jobs_table_body_row_action_button">
                                            <span></span>
                                            </button>
                                            <ul class="J9_emp_dash_jobs_right_side_body_emp_jobs_table_body_row_action_ul">
                                            <li><a href="{% url 'viewJob' job_id=job.job_id recruiter_username=job.recruiter.user.username %}"><img src=" {% static "icons/eye.svg" %} ">View</a>
                                            </li>
                                            <li><a href="{% url "editJob" job_id=job.job_id recruiter_username=job.recruiter.user.username  %}"  {% comment %} onclick="edit({{job.job_id}})" {% endcomment %} ><img src=" {% static "icons/edit.svg" %} ">Edit</a>
                                            </li>
                                            <li><a onclick="J9_delete_job({{job.job_id}}, '{{job.recruiter.user.username}}')" href="#" {% comment %} href="{% url "deleteJob"  job_id=job.job_id "delete" %}" {% endcomment %} ><img src=" {% static "icons/delete.svg" %} ">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>

                <div id="J9_recruiter_dashboard_post_job" style="display: none;">
                    <form id="J9_recruiter_add_job_form" class="J9_emp_dash_post_job_right_side_body_container" action="{% url 'post_job' %}" method="post">
                        {% csrf_token %}
                        <div class="J9_emp_dash_post_job_right_side_body_container_job_details">
                            <h3 class="J9_emp_dash_post_job_right_side_body_container_job_details_title">Job Details
                            </h3>
                            <div class="J9_emp_dash_post_job_right_side_body_container_job_details_job_id">
                                <label>Job ID*</label><input name="job_id" id="J9_recruiter_add_job_job_id" required
                                    type="number" placeholder="123" />
                            </div>
                            <div class="J9_emp_dash_post_job_right_side_body_container_job_details_job_title">
                                <label>Job Title*</label><input name="job_title" id="J9_recruiter_add_job_job_title"
                                    required type="text" placeholder="Software Engineer" />
                            </div>
                            <div class="J9_emp_dash_post_job_right_side_body_container_job_details_company_name">
                                <label>Company Name*</label><input name="company_name"
                                    id="J9_recruiter_add_job_company_name" required type="text"
                                    placeholder="Career compass" value="{{ rec.user.company_name }}" />
                            </div>
                            <div
                                class="J9_emp_dash_post_job_right_side_body_container_job_details_job_status_years_of_experience">
                                <div class="J9_emp_dash_post_job_right_side_body_container_job_details_job_status">
                                    <label>Job Status*</label>
                                    <select required name="job_status" id="J9_recruiter_add_job_job_status">
                                        <option>open</option>
                                        <option>closed</option>
                                    </select>
                                </div>
                                <div
                                    class="J9_emp_dash_post_job_right_side_body_container_job_details_years_of_experience">
                                    <label>years of experience*</label><input name="years_of_experience"
                                        id="J9_recruiter_add_job_years_of_experience" required type="number"
                                        placeholder="2" />
                                </div>
                            </div>
                            <div class="J9_emp_dash_post_job_right_side_body_container_job_details_job_description">
                                <label>Job Description*</label><textarea name="job_desc"
                                    id="J9_recruiter_add_job_job_desc" required
                                    placeholder="Job Description....."></textarea>
                            </div>

                            <div
                                class="J9_emp_dash_post_job_right_side_body_container_job_details_job_category_type_Salary">
                                <div
                                    class="J9_emp_dash_post_job_right_side_body_container_job_details_job_category_type">
                                    <div
                                        class="J9_emp_dash_post_job_right_side_body_container_job_details_job_category">
                                        <label>Job Category*</label>
                                        <select required name="job_category" id="J9_recruiter_add_job_job_category">
                                            <option>Designer</option>
                                            <option>It & Development</option>
                                            <option>Web & Mobile Dev</option>
                                            <option>Writing</option>
                                        </select>
                                    </div>
                                    <div class="J9_emp_dash_post_job_right_side_body_container_job_details_job_type">
                                        <label>Job Type*</label>
                                        <select required name="job_type" id="J9_recruiter_add_job_job_type">
                                            <option>Full time</option>
                                            <option>Part time</option>
                                            <option>Hourly-Contract</option>
                                            <option>Fixed-Price</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="J9_emp_dash_post_job_right_side_body_container_job_details_job_salary">
                                    <div
                                        class="J9_emp_dash_post_job_right_side_body_container_job_details_job_salary_type">
                                        <label>Salary*</label>
                                        <select required name="salary" id="J9_recruiter_add_job_salary">
                                            <option>Monthly</option>
                                            <option>Weekly</option>
                                        </select>
                                    </div>
                                    <div
                                        class="J9_emp_dash_post_job_right_side_body_container_job_details_job_salary_min_max">
                                        <div><input name="min_salary" id="J9_recruiter_add_job_min_salary" required
                                                type="number" placeholder="Min" /></div>
                                        <div><input name="max_salary" id="J9_recruiter_add_job_max_salary" required
                                                type="number" placeholder="Max" /></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="J9_emp_dash_post_job_right_side_body_container_skills_experience">
                            <h3>English Experience</h3>
                            <div class="J9_emp_dash_post_job_right_side_body_container_experience">
                                <div>
                                    <label>English Fluency*</label>
                                    <select required name="english_fluency" id="J9_recruiter_add_job_english_fluency">
                                        <option>Basic</option>
                                        <option>Conversational</option>
                                        <option>Fluent</option>
                                        <option>Native/Bilingual</option>
                                    </select>
                                </div>
                                <div>
                                    <label>Experience*</label>
                                    <select required name="experience" id="J9_recruiter_add_job_experience">
                                        <option>Intermediate</option>
                                        <option>No-Experience</option>
                                        <option>Expert</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="J9_emp_dash_post_job_right_side_body_emp_address_location">
                            <h3 class="J9_emp_dash_post_job_right_side_body_emp_address_location_title">Address &
                                Location
                            </h3>
                            <div class="J9_emp_dash_post_job_right_side_body_emp_address">
                                <label>Address*</label>
                                <input name="address" id="J9_recruiter_add_job_address" required type="text"
                                    placeholder="Egypt, Giza, Dokii">
                            </div>
                            <div class="J9_emp_dash_post_job_right_side_body_emp_location">
                                <div class="J9_emp_dash_post_job_right_side_body_emp_location_country">
                                    <label>Country*</label>
                                    <select required name="country" id="J9_recruiter_add_job_country">
                                        <option value="" selected disabled hidden>Country</option>
                                        {% for country in countries %}
                                        <option value="{{ country }}">{{ country }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="J9_emp_dash_post_job_right_side_body_emp_location_city">
                                    <label>City*</label>
                                    <select required name="city" id="J9_recruiter_add_job_city">
                                        <option value="" selected disabled hidden>City</option>
                                        {% for city in cities %}
                                        <option value="{{ city }}">{{ city }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="J9_emp_dash_post_job_right_side_body_emp_location_zip_code">
                                    <label>Zip Code*</label>
                                    <input name="zip_code" id="J9_recruiter_add_job_zip_code" required type="number"
                                        placeholder="3740614">
                                </div>
                                <div class="J9_emp_dash_post_job_right_side_body_emp_location_state">
                                    <label>State*</label>
                                    <select required name="state" id="J9_recruiter_add_job_state">
                                        <option value="" selected disabled hidden>State</option>
                                        {% for state in states %}
                                        <option value="{{ state }}">{{ state }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="J9_emp_dash_post_job_right_side_body_emp_profile_save_cancel_button">
                            <input id="J9_emp_dash_post_job_right_side_body_emp_profile_save_button" type="submit"
                                value="Submit">
                            <input id="J9_emp_dash_post_job_right_side_body_emp_profile_cancel_button" type="reset"
                                value="Cancel">
                        </div>
                    </form>
                </div>

                <div id="J9_recruiter_dashboard_saved_candidates" style="display: none;">
                    <a href="/checkCandidates">
                        <h3>All Candidates</h3>
                    </a>
                    <div class="J9_emp_dash_saved_candidates_right_side_body_container">
                        <div class="J9_emp_dash_saved_candidates_right_side_candidate_card">
                            <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_photo">
                                <a href="#"><img src=" {% static "images/candidate1.jpg" %} " alt=""></a>
                            </div>
                            <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details">
                                <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_information">
                                    <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_name">
                                        <h3>Joseph</h3>
                                        <div>artist</div>
                                    </div>
                                    <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_salary">
                                        <span>Salary</span>
                                        <div>20$ - 50$</div>
                                    </div>
                                    <div
                                        class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_location">
                                        <span>Location</span>
                                        <div>Giza</div>
                                    </div>
                                    <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_actions">
                                        <a href="#"><img src=" {% static "icons/eye2.svg" %} " alt=""></a>
                                        <div class="div">
                                            <button
                                                class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_actions_button"><span></span></button>
                                            <ul
                                                class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_actions_ul">
                                                <li><a href="#"><img src=" {% static "icons/eye2.svg" %} " alt="">view</a>
                                                </li>
                                                <li><a href="#"><img src=" {% static "icons/delete.svg" %} " alt="">delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skills">
                                    <span
                                        class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">Design</span>
                                    <span
                                        class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">UI</span>
                                    <span
                                        class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">Digital</span>
                                    <span
                                        class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">2+</span>
                                </div>
                            </div>
                        </div>


                        <div class="J9_emp_dash_saved_candidates_right_side_candidate_card">
                            <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_photo">
                                <a href="#"><img src=" {% static "images/candidate2.jpg" %} " alt=""></a>
                            </div>
                            <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details">
                                <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_information">
                                    <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_name">
                                        <h3>philo</h3>
                                        <div>artist</div>
                                    </div>
                                    <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_salary">
                                        <span>Salary</span>
                                        <div>20$ - 50$</div>
                                    </div>
                                    <div
                                        class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_location">
                                        <span>Location</span>
                                        <div>Giza</div>
                                    </div>
                                    <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_actions">
                                        <a href="#"><img src=" {% static "icons/eye2.svg" %} " alt=""></a>
                                        <div>
                                            <button
                                                class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_actions_button"><span></span></button>
                                            <ul
                                                class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_actions_ul">
                                                <li><a href="#"><img src=" {% static "icons/eye2.svg" %} " alt="">view</a>
                                                </li>
                                                <li><a href="#"><img src=" {% static "icons/delete.svg" %} " alt="">delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skills">
                                    <span
                                        class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">Design</span>
                                    <span
                                        class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">UI</span>
                                    <span
                                        class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">Digital</span>
                                    <span
                                        class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">2+</span>
                                </div>
                            </div>
                        </div>
                        <div class="J9_emp_dash_saved_candidates_right_side_candidate_card">
                            <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_photo">
                                <a href="#"><img src=" {% static "images/candidate1.jpg" %} " alt=""></a>
                            </div>
                            <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details">
                                <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_information">
                                    <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_name">
                                        <h3>momen</h3>
                                        <div>artist</div>
                                    </div>
                                    <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_salary">
                                        <span>Salary</span>
                                        <div>20$ - 50$</div>
                                    </div>
                                    <div
                                        class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_location">
                                        <span>Location</span>
                                        <div>Giza</div>
                                    </div>
                                    <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_actions">
                                        <a href="#"><img src=" {% static "icons/eye2.svg" %} " alt=""></a>
                                        <div class="div">
                                            <button
                                                class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_actions_button"><span></span></button>
                                            <ul
                                                class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_actions_ul">
                                                <li><a href="#"><img src=" {% static "icons/eye2.svg" %} " alt="">view</a>
                                                </li>
                                                <li><a href="#"><img src=" {% static "icons/delete.svg" %} " alt="">delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skills">
                                    <span
                                        class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">Design</span>
                                    <span
                                        class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">UI</span>
                                    <span
                                        class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">Digital</span>
                                    <span
                                        class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">2+</span>
                                </div>
                            </div>
                        </div>
                        <div class="J9_emp_dash_saved_candidates_right_side_candidate_card">
                            <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_photo">
                                <a href="#"><img src=" {% static "images/candidate3.jpg" %} " alt=""></a>
                            </div>
                            <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details">
                                <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_information">
                                    <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_name">
                                        <h3>someone</h3>
                                        <div>artist</div>
                                    </div>
                                    <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_salary">
                                        <span>Salary</span>
                                        <div>20$ - 50$</div>
                                    </div>
                                    <div
                                        class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_location">
                                        <span>Location</span>
                                        <div>Giza</div>
                                    </div>
                                    <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_actions">
                                        <a href="#"><img src=" {% static "icons/eye2.svg" %} " alt=""></a>
                                        <div class="div">
                                            <button
                                                class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_actions_button"><span></span></button>
                                            <ul
                                                class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_actions_ul">
                                                <li><a href="#"><img src=" {% static "icons/eye2.svg" %} " alt="">view</a>
                                                </li>
                                                <li><a href="#"><img src=" {% static "icons/delete.svg" %} " alt="">delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skills">
                                    <span
                                        class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">Design</span>
                                    <span
                                        class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">UI</span>
                                    <span
                                        class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">Digital</span>
                                    <span
                                        class="J9_emp_dash_saved_candidates_right_side_candidate_card_details_skill">2+</span>
                                </div>
                            </div>
                        </div>
                        <p class="J9_demo">It's a demo version</p>
                    </div>
                </div>

                <div id="J9_recruiter_dashboard_settings" style="display: none;">
                    <form id="J9_recruiter_dashboard_settings_form" class="J9_emp_dash_settings_right_side_body_container" action="{% url 'saveRecSettings' %}" method="post">
                        {% csrf_token %}
                        <h3>Edit & Update</h3>
                        <div class="J9_emp_dash_settings_right_side_body_container_name">
                            <div class="J9_emp_dash_settings_right_side_body_container_name_first">
                                <label>First Name</label>
                                <input id="J9_emp_dash_settings_right_side_body_container_name_first" class="j9Name"
                                    name="first_name" type="text" required value="{{ rec.user.first_name }}">
                            </div>
                            <div class="J9_emp_dash_settings_right_side_body_container_name_last">
                                <label>Last Name</label>
                                <input id="J9_emp_dash_settings_right_side_body_container_name_last" name="last_name"
                                    type="text" required value="{{ rec.user.last_name }}">
                            </div>
                        </div>

                        <div class="J9_emp_dash_settings_right_side_body_container_email">
                            <label>Email</label>
                            <input id="J9_emp_dash_settings_right_side_body_container_email" class="j9Email"
                                name="email" type="text" required value="{{ rec.user.email }}">
                        </div>

                        <div class="J9_emp_dash_settings_right_side_body_container_phone_num">
                            <label>Phone Number</label>
                            <input id="J9_emp_dash_settings_right_side_body_container_phone_num" name="phone"
                                type="number" required value="{{ rec.user.phone }}">
                        </div>

                        <div class="J9_emp_dash_settings_right_side_body_container_password">
                            <div class="J9_emp_dash_settings_right_side_body_container_password_input">
                                <label>Password</label>
                                <input id="J9_emp_dash_settings_right_side_body_container_password" name="password"
                                    type="password" required placeholder="Password...">
                            </div>
                            <div class="J9_emp_dash_settings_right_side_body_container_password_change">
                                <p>
                                    Want to change the password?
                                    <a href="#">Click here</a>
                                </p>

                            </div>
                        </div>
                        <div class="J9_emp_dash_settings_right_side_body_emp_settings_save_cancel_button">
                            <input id="J9_emp_dash_settings_right_side_body_emp_settings_save_button" type="submit"
                                value="Submit">
                            <input id="J9_emp_dash_settings_right_side_body_emp_settings_cancel_button" type="reset"
                                value="Cancel">
                        </div>
                    </form>

                </div>


            </div>


        </div>
    </div>

</div>
<script src="{% static 'js/recruiter_dashboard.js' %}"></script>
<script src="{% static 'js/recruiter_dashboard_jobs.js' %}"></script>
<script src="{% static 'js/recruiter_dashboard_post_job.js' %}"></script>
<script src="{% static 'js/recruiter_dashboard_saved_candidates.js' %}"></script>
<script src="{% static 'js/recruiter_dashboard_profile.js' %}"></script>
<script src="{% static 'js/recruiter_dashboard_settings.js' %}"></script>


{% endblock %}
