{% extends 'layout.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<section class="main">
    <h1>
        Saved Jobs 
    </h1>
    <div class="all-jobs">
      <!-- ------------------------------------------------------------------------------------------------------------ -->
      {% for saved_job in jobs %} 
      <div class="job" id="{{saved_job.job.job_id}}">
          <div class="job-image-div">
            <img src="{% static '/front.png' %}" class="job-img">
          </div>
          <div class="desc">
            <div class="job-name"> {{saved_job.job.title}} </div> 
            <div class="salary"> ${{saved_job.job.MinSalary}} - {{saved_job.job.MaxSalary}} / {{saved_job.job.salary}}</div>
            <div class="city"> {{saved_job.job.city}}, {{saved_job.job.country}}</div>
            <div class="description">{{saved_job.job.description}} </div>  
            <button type="button" value="Delete" class="delete-button" onclick="remove(name)" name="{{saved_job.job.job_id}}">unsaved</button> 
            <a href="#" class="view-ancor"> <button type="button" class="view-button"  value="view" name="{{saved_job.job.job_id}}" onclick="view(name)">view</button></a>
        </div>
        </div>
        {% endfor %}
        <!-- ------------------------------------------------------------------------------------------------------------------ -->
        <div class="job" id="job2">
          <div class="job-image-div">
            <img src="{% static '/backend.png' %}" class="job-img">
          </div>   
          <div class="desc">
            <div class="job-name"> Back-end Web Development </div> 
            <div class="salary"> $3500/Monthly</div>
            <div class="city"> USA, Palo Alto</div>
            <div class="description">you will make it possible to access website information efficiently and securely.</div>
            <button type="button" value="Delete" class="delete-button" onclick="remove(name)" name="job2">unsaved</button> 
            <a href="#" class="view-ancor"> <button type="button" class="view-button"  value="view">view</button></a>
        </div>
        </div>
        <!-- ------------------------------------------------------------------------------------------------------- -->
        <div class="job " id="job3">
          <div class="job-image-div">
            <img src="{% static '/OIP .jpg' %}" class="job-img">
          </div>
          <div class="desc">
            <div class="job-name"> Software Developer </div> 
            <div class="salary"> $3500/Monthly</div>
            <div class="city"> USA, Palo Alto</div>
            <div class="description">you will create new software and improve existing software applications.</div>  
            <button type="button" value="Delete" class="delete-button" onclick="remove(name)" name="job3">unsaved</button> 
            <a href="#" class="view-ancor"> <button type="button" class="view-button"  value="view">view</button></a>    
        </div>
        </div>
        <!-- ------------------------------------------------------------------------------------------------------------- -->
        <div class="job job4" id="job4">
          <div class="job-image-div">
            <img src="{% static '/R.png' %}" class="job-img">
          </div>
          <div class="desc">
            <div class="job-name">Data Analyst </div> 
            <div class="salary"> $3500/Monthly</div>
            <div class="city"> USA, Palo Alto</div>
            <div class="description">you will collect, clean, and interpret data sets in order to answer a question or solve a problem. </div>
            <button type="button" value="Delete" class="delete-button" onclick="remove(name)" name="job4">unsaved</button> 
            <a href="#" class="view-ancor"> <button type="button" class="view-button"  value="view">view</button></a>     
        </div>
        </div> 
        <!-- ----------------------------------------------------------------------------------------------- -->
    </div>
    <div>

        </section>

    </div>

<script src="{% static 'js/saved_jobs.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/saved_jobs.css' %}">
{% endblock %}
