<!DOCTYPE html>

<!-- ========== Momen Medhat Salem 20221258 ========== -->

<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>

  </head>
  <body>
    <header>
      <nav
        class="navbar navbar-expand-lg bg-body-tertiary"
        data-bs-theme="dark"
      >
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html">
            <img src="media/logopng.png" width="60px" alt="Logo" />
          </a>
          <!-- Off-canvas toggle button for small screens -->
          <button
            
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Off-canvas content -->
          <div
            
            tabindex="-1"
            id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel"
          >
            <div>
              <h5 id="offcanvasNavbarLabel">Menu</h5>
              <button
                type="button"
                
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav">
                <li>
                  <a aria-current="page" href="index.html"
                    >Home</a
                  >
                </li>
                <li>
                  <a href="#">Features</a>
                </li>
                <li>
                  <a href="signup.html">Sign Up</a>
                </li>
                <li>
                  <a href="login.html">Log In</a>
                </li>
              </ul>
              <!-- Search form -->
              <form role="search">
                <input
                  
                  type="search"
                  placeholder="Search a Job"
                  aria-label="Search"
                />
                <button class="btn btn-outline-success" type="submit">
                  Search
                </button>
              </form>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <h1>Sign Up</h1>
    <div>
      <form>
        <div>
          <label for="First_name">First Name</label>
          <input
            type="text"
            
            id="First_name"
            name="First_name"
            aria-describedby="emailHelp"
          />
        </div>
        <div>
          <label for="last_name">Last Name</label>
          <input
            type="text"
            
            id="last_name"
            name="last_name"
            aria-describedby="emailHelp"
          />
        </div>
        <div>
          <label for="InputEmail1">Email address</label>
          <input
            type="email"
            
            id="InputEmail1"
            name="InputEmail1"
            aria-describedby="emailHelp"
          />
          <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div>
        </div>
        <div>
          <label for="InputPassword1">Password</label>
          <input
            type="password"
            
            id="InputPassword1"
            name="InputPassword1"
          />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <div>
        <h5>
          Are you a company owner?<a href="recruitersignup.html">Click here</a>
        </h5>
      </div>
    </div>
     <div>
      <footer class="py-3 my-4">
        <ul>
          <li>
            <a href="index.html" class="nav-link px-2 text-body-secondary"
              ><img src="media/logopng.png" width="50px" alt="Footer Logo"
            /></a>
          </li>
          <li>
            <a href="index.html" class="nav-link px-2 text-body-secondary"
              >Home</a
            >
          </li>

          <li>
            <a href="#" class="nav-link px-2 text-body-secondary">Premium</a>
          </li>
          <li>
            <a href="#" class="nav-link px-2 text-body-secondary">FAQs</a>
          </li>
          <li>
            <a href="search.html" class="nav-link px-2 text-body-secondary"
              >Search</a
            >
          </li>
        </ul>
        <p >
          © 2024 Career Compass, Inc
        </p>
        <p >
          Developed and Maintained by
        </p>
        <p >
          <a href="https://github.com/momenmedhatsalem" class="text-light"
            >Momen Medhat</a
          >
        </p>
        <p >
          <a href="https://github.com/philokaram" class="text-light"
            >Philopater Karam</a
          >
        </p>
        <p >
          <a href="https://github.com/Joseph-Sameh-0" class="text-light"
            >Joseph Sameh</a
          >
        </p>
        <p >
          <a href="https://github.com/Mahmoud3177Khaled" class="text-light"
            >Mahmoud Khaled</a
          >
        </p>
      </footer>
    </div>

  </body>
</html>
