{% extends 'layout.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/viewCandidate.css' %}">
<!-- <script src="{% static 'js/logout.js' %}"></script> -->
<!-- <script src="{% static 'js/sidebar.js' %}"></script> -->
<!-- <script src="{% static 'js/show_profile_info.js' %}"></script> -->
<section class="J9_main">
  <div class="J9_AppliedCanProf_header">
    <h1>Your Profile</h1>
  </div>

  <div class="J9_AppliedCanProf_body">
    <img class="J9_AppliedCanProf_pic" src="{% static 'Editing.png' %}" alt="User Image">

    <div>
      <div>
        <label for="fname">Full Name: </label>
        <input type="text" id="fname" value = "{{ viewedCandidate.user.first_name}} {{viewedCandidate.user.last_name }}" disabled>
      </div>
      <div>
        <label for="pemail">Personal E-mail: </label>
        <input type="email" id="pemail" value = "{{ viewedCandidate.user.email}}" disabled>
      </div>
      <div>
        <label for="bio">Bio: </label>
        <textarea id="bio" cols="40" rows="5" disabled>{% if viewedCandidate.bio %} {{ viewedCandidate.bio }} {% endif %}</textarea>
      </div>
    </div>

    <div>
      <h1>Business Info</h1>
      <div>
        <label for="cname">Company name: </label>
        <input type="text" id="cname" {% if viewedCandidate.company_name %} value = "{{ viewedCandidate.company_name }}" {% endif %} disabled>
      </div>
      <div>
        <label for="bemail">Business E-mail: </label>
        <input type="email" id="bemail" {% if viewedCandidate.business_email %} value = "{{ viewedCandidate.business_email }}" {% endif %} disabled>
      </div>
      <div>
        <label for="skills">Skills and Certificates: </label>
        <textarea id="skills" cols="40" rows="5" disabled>{% if viewedCandidate.skills %} {{ viewedCandidate.skills }} {% endif %}</textarea>
      </div>
    </div>

    <div>
      <h1>Social Media</h1>
      <div>
        <label for="net1">Network 1: </label>
        <input type="text" id="net1" {% if viewedCandidate.network1 %} value = "{{ viewedCandidate.network1 }}" {% endif %} disabled>
      </div>
      <div>
        <label for="net2">Network 2: </label>
        <input type="text" id="net2" {% if viewedCandidate.network2 %} value = "{{ viewedCandidate.network2 }}" {% endif %} disabled>
      </div>
    </div>

    <div>
      <h1>Address and Location</h1>
      <div>
        <label for="address">Address: </label>
        <input type="text" id="address" {% if  viewedCandidate.address %} value = "{{ viewedCandidate.address }}" {% endif %} disabled>
      </div>
      <div>
        <label for="country">Country: </label>
        <input type="" id="country" {% if  viewedCandidate.country %} value = "{{ viewedCandidate.country }}" {% endif %} disabled>
      </div>
      <div>
        <label for="city">City: </label>
        <input type="" id="city" {% if  viewedCandidate.city %} value = "{{ viewedCandidate.city }}" {% endif %} disabled>
      </div>
      <div>
        <label for="zip">ZIP Code: </label>
        <input type="number" id="zip" {% if  viewedCandidate.zip %} value = "{{ viewedCandidate.zip }}" {% endif %} disabled>
      </div>
      <div>
        <label for="state">State/Governorat: </label>
        <input type="text" id="state" {% if viewedCandidate.state %} value = "{{ viewedCandidate.state }}" {% endif %} disabled>
      </div>
    </div>

  </div>
</section>
</div>
</div>
</div>
</div>
{% endblock %}
