{% extends 'layout.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/viewCandidate.css' %}">
<!-- <script src="{% static 'js/logout.js' %}"></script> -->
<!-- <script src="{% static 'js/sidebar.js' %}"></script> -->
<!-- <script src="{% static 'js/show_profile_info.js' %}"></script> -->
<section class="J9_main">
  <div class="J9_AppliedCanProf_header">
    <h1>Your Profile</h1>
  </div>

  <div class="J9_AppliedCanProf_body">
    <img class="J9_AppliedCanProf_pic" src="{% static 'Editing.png' %}" alt="User Image">

    <div>
      <div>
        <label for="fname">Full Name: </label>
        <input type="text" id="fname" disabled>
      </div>
      <div>
        <label for="pemail">Personal E-mail: </label>
        <input type="email" id="pemail" disabled>
      </div>
      <div>
        <label for="bio">Bio: </label>
        <textarea id="bio" cols="40" rows="5" disabled></textarea>
      </div>
    </div>

    <div>
      <h1>Business Info</h1>
      <div>
        <label for="cname">Company name: </label>
        <input type="text" id="cname" disabled>
      </div>
      <div>
        <label for="bemail">Business E-mail: </label>
        <input type="email" id="bemail" disabled>
      </div>
      <div>
        <label for="skills">Skills and Certificates: </label>
        <textarea id="skills" cols="40" rows="5" disabled></textarea>
      </div>
    </div>

    <div>
      <h1>Social Media</h1>
      <div>
        <label for="net1">Network 1: </label>
        <input type="text" id="net1" disabled>
      </div>
      <div>
        <label for="net2">Network 2: </label>
        <input type="text" id="net2" disabled>
      </div>
    </div>

    <div>
      <h1>Address and Location</h1>
      <div>
        <label for="address">Address: </label>
        <input type="text" id="address" disabled>
      </div>
      <div>
        <label for="country">Country: </label>
        <select type="" id="country" disabled>
          <option value="Egypt">Egypt</option>
          <option value="France">France</option>
          <option value="Germany">Germany</option>
          <option value="Spain">Spain</option>
          <option value="Poland">Poland</option>
          <option value="Scotland">Scotland</option>
          <option value="United Kingdom">United Kingdom</option>
        </select>
      </div>
      <div>
        <label for="city">City: </label>
        <select type="" id="city" disabled>
          <option value="Cairo">Cairo</option>
          <option value="Paris">Paris</option>
          <option value="Berlin">Berlin</option>
          <option value="Los Angelos">Los Angelos</option>
          <option value="New York">New York</option>
          <option value="London">London</option>
          <option value="Moscow">Moscow</option>
        </select>
      </div>
      <div>
        <label for="zip">ZIP Code: </label>
        <input type="number" id="zip" disabled>
      </div>
      <div>
        <label for="state">State/Governorat: </label>
        <select type="text" id="state" disabled>
          <option value="Cairo">Cairo</option>
          <option value="Paris">Paris</option>
          <option value="Berlin">Berlin</option>
          <option value="Los Angelos">Los Angelos</option>
          <option value="New York">New York</option>
          <option value="London">London</option>
          <option value="Moscow">Moscow</option>
        </select>
      </div>
      <div>
        <label for="location">Map Location: </label>
        <input type="" id="location" disabled>
      </div>
    </div>

  </div>
</section>
</div>
</div>
</div>
</div>
{% endblock %}
