{% extends 'layout.html' %}
{% load static %}
{% block title %}About{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/About_us_style.css' %}">
<link rel="stylesheet" href="{% static 'css/profile_style.css' %}">

    <!-- ========== Mahmoud 20220317 ========== -->
    <main class="M7-main-about">

        <div class="">

            <br><br><br>


            <div class="M7-flex-11">

                

                <div class="M7-div-para11 M7-flex-about-item11">

                    <h4 class="M7-h4-about11" style="font-size: 1rem;">Career Compass / About us</h4>

                    <h4 class="M7-h4-about11">Who we are</h4>

                    <p class="M7-about-p11">
                        At Career Compass, we're a dedicated team committed to simplifying the job search process. Our
                        platform prioritizes efficiency, transparency, and inclusivity, fostering a diverse and
                        collaborative workplace We value innovation, continuous learning, and creating
                        opportunities for growth. Join us in revolutionizing how people find jobs and build careers.
                    </p>

                </div>

                <img src="{% static 'about bulding2.png' %}" alt="Innovating girl" class="M7-flex-about-item"
                    style="margin-left: 0; margin-right: 13rem; padding-top: 4rem; padding-bottom: 4rem;">
            </div>

            </fieldset>
            <br><br>

        </div>

        <!-- <div class="M7-backg-about">

            <br><br><br>

            <h1 class="M7-h1-about">A Little About Us</h1>

            <div>

                <fieldset class="M7-fieldset-about">
                    <h4 class="M7-h4-about">Who We Are</h4>

                    <p class="M7-flex-about-item M7-about-p">
                        At Career Compass, we're a dedicated team committed to simplifying the job search process. Our
                        platform prioritizes efficiency, transparency, and inclusivity, fostering a diverse and
                        collaborative workplace.<br> We value innovation, continuous learning, and creating
                        opportunities for growth. Join us in revolutionizing how people find jobs and build careers.
                    </p>

                </fieldset>
            </div>

            <br><br>

        </div> -->


        <div>

            <div class="M7-flex-1">

                <img src="{% static 'girl_about.png' %}" alt="Innovating girl" class="M7-flex-about-item"
                    style="margin-right: 0; padding-top: 2.4rem; padding-bottom: 2rem;">


                <div class="M7-div-para M7-flex-about-item">

                    <h4 class="M7-h4-about2">Our Mission</h4>

                    <p class="M7-about-p2">
                        At Career Compass, our mission is simple: to match the perfect recruit with the perfect job.
                        We're dedicated to streamlining the hiring process, ensuring that both employers and job seekers
                        find their ideal fit seamlessly. Join us in revolutionizing the way talent meets opportunity!
                    </p>

                </div>
            </div>

            <br><br>


            <div class="M7-about-div3">
                <h2 class="M7-h2-about-div3">&nbsp; More About Us</h2>

                <div class="M7-flex-2">



                    <div class="M7-about-card M7-flex-about-item2">
                        <h4 class="M7-about-card-h4">
                            Matched
                        </h4>

                        <p class="M7-about-card-p1">
                            2M +
                        </p>

                        <p class="M7-about-card-p2">
                            Happpy Employees
                        </p>
                    </div>

                    <div class="M7-about-card M7-flex-about-item2">
                        <h4 class="M7-about-card-h4">
                            Founded
                        </h4>

                        <p class="M7-about-card-p1">
                            2024
                        </p>

                        <p class="M7-about-card-p2">
                            Careers Unlocked!
                        </p>
                    </div>

                    <div class="M7-about-card M7-flex-about-item2">
                        <h4 class="M7-about-card-h4">
                            Headquarters
                        </h4>

                        <p class="M7-about-card-p1">
                            Egypt
                        </p>

                        <p class="M7-about-card-p2">
                            Our Base of operation
                        </p>
                    </div>

                    <!-- <br> -->

                    <div class="M7-about-card M7-flex-about-item2">
                        <h4 class="M7-about-card-h4">
                            Press
                        </h4>

                        <p class="M7-about-card-p1">
                            In The News
                        </p>

                        <p class="M7-about-card-p2">
                            What the media is saying
                        </p>
                    </div>

                    <div class="M7-about-card M7-flex-about-item2">
                        <h4 class="M7-about-card-h4">
                            Purpose
                        </h4>

                        <p class="M7-about-card-p1">
                            No Hassle
                        </p>

                        <p class="M7-about-card-p2">
                            A word form our Devs
                        </p>
                    </div>

                    <div class="M7-about-card M7-flex-about-item">
                        <h4 class="M7-about-card-h4">
                            Culture
                        </h4>

                        <p class="M7-about-card-p1">
                            Values
                        </p>

                        <p class="M7-about-card-p2">
                            Our DNA
                        </p>
                    </div>


                </div>
            </div>
            
            <div class="M7-about-div55">
                <h2 class="M7-h2-about-div55">&nbsp; Our Talented Team</h2>
                
                <hr class="M7-about-hr">
                
                <div class="M7-flex-55">
                    
                    
                    <div class="M7-about-card55 M7-flex-about-item255">
                        <a href="https://github.com/momenmedhatsalem">

                            <img src="{% static 'momen.jpg' %}" alt="" class="M7-about-img">
                        </a>
        
                        <h4 class="M7-about-card-h455">
                            Mo'men Medhat
                        </h4>
        
                        <p class="M7-about-card-p255">
                            Full-Stack Developer
                        </p>
                    </div>
                    
                    
                    <div class="M7-about-card55 M7-flex-about-item255">
                        <a href="https://github.com/Mahmoud3177Khaled">

                            <img src="{% static 'mahmoud.jpg' %}" alt="" class="M7-about-img">
                        </a>
                        
                        <h4 class="M7-about-card-h455">
                            Mahmoud Khaled
                        </h4>
                        
                        <p class="M7-about-card-p255">
                            Software Engineer
                        </p>
                    </div>
                    <div class="M7-about-card55 M7-flex-about-item255">
                        <a href="https://github.com/Joseph-Sameh-0">

                            <img src="{% static 'joesef.jpg' %}" alt="" class="M7-about-img">
                        </a>

                        <h4 class="M7-about-card-h455">
                            Joseph Sameh
                        </h4>
                        
                        <p class="M7-about-card-p255">
                            Front-end Developer
                        </p>
                    </div>
                    
                    <div class="M7-about-card55 M7-flex-about-item255">
                        <a href="https://github.com/Miguel-Reda">
                            
                            <img src="{% static 'miguel.jpg' %}" alt="" class="M7-about-img">
                        </a>

                        <h4 class="M7-about-card-h455">
                            Miguel Reda
                        </h4>

                        <p class="M7-about-card-p255">
                            Back-end Developer
                        </p>
                    </div>
                    <!-- <br> -->
                    <div class="M7-about-card55 M7-flex-about-item255">
                        <a href="https://github.com/philokaram">

                            <img src="{% static 'noone.jpg' %}" alt="" class="M7-about-img">
                        </a>

                        <h4 class="M7-about-card-h455">
                            Philopater Karam
                        </h4>

                        <p class="M7-about-card-p255">
                            Front-end Developer
                        </p>
                    </div>


                    <div class="M7-about-card55 M7-flex-about-item255">
                        <a href="https://github.com/jonathan-mokhles">

                            <img src="{% static 'jonathan.png' %}" alt="" class="M7-about-img">
                        </a>

                        <h4 class="M7-about-card-h455">
                            Jonathan Mokhles
                        </h4>

                        <p class="M7-about-card-p255">
                            Front-end Developer
                        </p>
                    </div>
                    <!-- <br><br><br><br><br><br><br><br><br><br>
                    <br><br><br><br><br><br><br><br><br><br>
                    <br><br><br><br><br><br><br><br><br><br>
                    <br><br><br><br><br><br><br><br><br><br> -->


                </div>
            </div>

        </div>

        <div style="height: 300px;">

        </div>
    </main>
{% endblock %}