{% extends 'layout.html' %}
{% load static %}
{% block title %}Edit Job{% endblock %}

{% block content %}

      <!-- ========== Philopater ========== -->
<link rel="stylesheet" href="{% static 'css/edit_job.css' %}">



  <section class="main">
    <h1 id="h1-edit-job">
      Edit Job
    </h1>
    <div>
      <form  >
        <label for="id" id="job-id-label"> Job ID </label>
        <input type="text" id="id" name="id" class="input-box" placeholder="Enter the Job Id" value="123" readonly>
        <br>
        <label for="job-title" id="job-title-label"> Job Title </label>
        <input type="text" id="job-title" name="job-title" class="input-box" value="SoftWare Engineer" required>

        <br>
        <label for="company-name" id="company-name-label"> Company Name </label>
        <input type="text" id="company-name" name="company-name" class="input-box" value="Career compass"
          required>

          <br>
        <label for="years-of-experience" id="years-of-experience-label"> Years Of Experience </label>
        <input type="number" id="years-of-experience" class="input-box" name="years-of-experience" value="2">
        <br>
        <label for="salary" id="salary-label"> Salary </label>
        <input type="number" id="salary" name="salary" class="input-box" value="900">
        <span id="per-word">$ per</span> 
        <select>
          <option>Week</option>
          <option>Month</option>
          <option>Year</option>
        </select>

        <br><br>
        <label id="job-status-label">Job Status : </label>
        <br>
        <input type="radio" id="open" name="job status" value="open">
        <label for="open">Open</label>
        <br>
        <input type="radio" id="closed" name="job status" value="closed">
        <label for="closed">Closed</label>
    
<br><br>
        <label for="description" id="description"> Description </label>
  
        <textarea id="description" name="description"  class="input-box">you will create new software and improve existing software applications. </textarea>
       

        <p id="created by"> created by <span id="username" > user name </span> </p>

        <input type="submit" value="save" id="boutton-save" onclick="save_edit()">
      </form>
    </div>
    <div>
  </section>

  </div>
<script src="{% static 'js/edit_job.js' %}"></script>

{% endblock %}