{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}


  <!---------------------------------------------------------------->
  <section class="J9_main">
    <div class="J9_row">
      <h1 class="J9_row_topic_sentence">Find & Hire Experts for any Job.</h1>
      <p class="J9_row_quoted_text">
        Unlock your potential with quality job & earn from world leading
        brands.
      </p>
    </div>

    <!---------------------------------------------------------------------------->
    <section class="J9_category_section">
      <div class="J9_category_section_row">
        <div class="J9_category_title">
          <h2>Most Demanding Categories.</h2>
        </div>
        <div class="J9_category_explore">
          <a href="search.html"><u>Explore all fields</u> ></a>
        </div>
      </div>

      <div class="J9_category_section_categories">
        <a href="#">
          <div class="J9_category_section_category">
            <div>UI/UX Design</div>
          </div>
        </a>
        <a href="#">
          <div class="J9_category_section_category">
            <div>Development</div>
          </div>
        </a>
        <a href="#">
          <div class="J9_category_section_category">
            <div>Marketing</div>
          </div>
        </a>
        <a href="#">
          <div class="J9_category_section_category">
            <div>Telemarketing</div>
          </div>
        </a>
        <a href="#">
          <div class="J9_category_section_category">
            <div>Accounting</div>
          </div>
        </a>
        <a href="#">
          <div class="J9_category_section_category">
            <div>Editing</div>
          </div>
        </a>
      </div>
    </section>

    <!------------------------------------------------------------------------------------------->

    <section class="J9_trending_job_section">
      <div class="J9_trending_job_section_title">
        <h2>Trending Job</h2>
      </div>
      <div class="J9_trending_jobs">
        <a href="#" class="J9_trending_job" id="audio_video_diting">
          <div>Audio & <br> Video Editing</div>
        </a>
        <a href="#" class="J9_trending_job" id="product_branding_design">
          <div>Product & <br> Branding Design</div>
        </a>
        <a href="#" class="J9_trending_job" id="admin_customer_support">
          <div>Admin & <br> Customer Support</div>
        </a>
        <a href="#" class="J9_trending_job" id="wordpress_development">
          <div>WordPress <br>Development</div>
        </a>
      </div>
    </section>
    <br />
    <!---------------------------------------------------------------->

    <section class="J9_do_yo_want_to_post_section">
      <div>
        Do you want to post a job for your company? <span>We can help.</span>
        <a href="signup.html">Click here</a>
      </div>
    </section>

    <!------------------------------------------------------------------------------------------------------------------------------------------------>
    <section class="J9_complete_job_portal_section">
      <div>
        <div class="J9_complete_job_portal">
          <h2>Complete job <br> portal for everyone.</h2>
        </div>
        <div class="J9_complete_job_portal_section_find">
          <p>Find your dream job & earn from all world the leading brands.</p>
          <ul>
            <li><a href="{% url 'jobs' %}">Looking for a job?</a></li>
            <!-- go to job list -->
            <li><a href="recruitersignup.html">Start Hiring</a></li>
            <!--  go to candidate/recruitment page -->
          </ul>
        </div>
      </div>
    </section>
  </section>

{% endblock %}


