{% extends 'layout.html' %}
{% load static %}
{% block title %}/ist of jobs{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/list_of_jobs.css' %}">

  <!-- ----------------------------------------------------------------------------------- -->
  <section class="main">
    <div class="title">
    <img class="img-h1" src="{% static 'job.png; %}">
    <h1>
      Jobs
    </h1>
    </div>
    <table class="table">
      <tr class="tr">
        <td class="td">
          <h3>
            <a class="p2a" href="Job_Details.html"> Software Developer </a>

          </h3>
          <div class="salary">$900 / Monthly</div>
          <div class="location">Spain, Bercelona</div>
          <a class="p2a" href="#"><button>Apply</button></a>
        </td>

        <td class="td">
          <h3>
            Back-end web development


          </h3>
          <div class="salary">$900 / Monthly</div>
          <div class="location">Spain, Bercelona</div>
          <a class="p2a" href="#"><button>Apply</button></a>
        </td>

        <td class="td">
          <h3>
            Front-end web development

          </h3>
          <div class="salary">$900 / Monthly</div>
          <div class="location">Spain, Bercelona</div>
          <a class="p2a" href="#"><button>Apply</button></a>
        </td>

        <td class="td">
          <h3>
            Data Analyst

          </h3>
          <div class="salary">$900 / Monthly</div>
          <div class="location">Spain, Bercelona</div>
          <a class="p2a" href="#"><button>Apply</button></a>
        </td>
      </tr>
    </table>
    </div>
    <div>
  </section>


{% endblock %}