{% extends 'layout.html' %}
{% load static %}
{% block title %}Profile{% endblock %}

{% block content %}


<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/profile_style.css' %}">
<script src="{% static 'js/logout.js' %}"></script>
<script src="{% static 'js/sidebar.js' %}"></script>
<script src="{% static 'js/show_profile_info.js' %}"></script>


<!-- jonathan -->
<div style="position: fixed;">

  <!-- <button onclick="show_side()" style="background-color: #49a7ff; width: 250px; border: none;">
    <img src="/media/icon_1.png' %}" alt="sidebar on off" width="20px">
  </button><br> -->

  <div id="sidey" style="display: block;" class="j0sidebar">


    <div class="j0profile-pic">
      <img src="{% static 'Editing.png' %}" alt="Profile Picture">
    </div>
    <ul class="j0menu">
      <!-- <li><a href="#"><img src="{% static 'icon_1.png' %}" alt="Dashboard"><span>Dashboard</span></a></li> -->
      <li><button onclick="manageTabs('j0_profile')"><img src="{% static 'icon_2.png' %}"
            alt="upload_resume"><span>Profile</span></button></li>
      <li><button onclick="manageTabs('j0_upload')"><img src="{% static 'upload_resume.png' %}"
            alt="upload_resume"><span>Upload Resume</span></button></li>
      <li><button onclick="manageTabs('j0_education')"><img src="{% static 'education.png' %}"
            alt="Education"><span>Education</span></button></li>
      <li><button onclick="manageTabs('j0_skills')"><img src="{% static 'skills.png' %}" alt="Skills"><span>Skills &
            Experience</span></button></li>
      <li><button onclick="manageTabs('j0_saved')">
          <a href="/templatess/saved_jobs.html">
            <img src="{% static 'saved.png' %}" alt="Skills">
            <span>Saved jobs</span>
          </a>
        </button></li>
      <li><a href="{% url 'logout'%}"><span>Logout</span></a></li>

    </ul>
  </div>
</div>

<!-- jonathan -->



<section class="main">

  <main class="tab" id="j0_profile">

    <section class="M7-fit">

      <br><br>

      <div style="
        display: flex;
        justify-content:space-between;
        flex-wrap: wrap;
        height: 100px;">

        <h1 class=" M7-gradient-text M7-h1">Your Profile</h1>

        <a href="/edit_profile">
          <button class="M7-edit">Edit Profile</button>
        </a>
      </div>



      <fieldset class="M7-fieldset">

        <legend class="M7-p_img">
          <img {% if user.photo.url != null %} src="{{user.photo.url}}" {% endif %} alt="User Image" class="M7-p_img" style="display: inline-block;">
        </legend>


        <div>

          <label for="fname" class="M7-label">Full Name: </label> <br>
          <input type="text" name="fname" id="fname" value=" {{ user.username }} {{ user.lastname }}" class="M7-field" disabled="yes">

        </div>

        <br>
        <br>
        <br>
        <br>

        <div>

          <label for="pemail" class="M7-label">Personal E-mail: </label> <br>
          <input type="email" name="pemail" id="pemail" value="{{ user.email }}" class="M7-field" disabled="yes">

        </div>

        <br>
        <br><br>
        <br>

        <div>

          <label for="bio" class="M7-label">Bio: </label> <br>
          <textarea name="bio" id="bio" cols="40" rows="5" placeholder="Cairo University 2020" class="M7-field"
            disabled="yes">{{ applicant_user.bio }}</textarea>

        </div>


      </fieldset>


      <br><br><br>
      <br>

      <fieldset class="M7-fieldset">

        <h1 class="M7-h1 M7-gradient-text">Business Info</h1>

        <br>
        <div>

          <label for="cname" class="M7-label">Company name: </label> <br>
          <input type="text" name="cname" id="cname" value="{{ applicant_user.company_name }}" class="M7-field" disabled="yes">

        </div>


        <br><br>
        <br>
        <br>

        <div>

          <label for="bemail" class="M7-label">Business E-mail: </label> <br>
          <input type="email" name="bemail" id="bemail" value="{{ applicant_user.business_email }}" class="M7-field" disabled="yes">

        </div>


        <br><br>
        <br>
        <br>

        <div>

          <label for="skills" class="M7-label">Skills and Certificates: </label> <br>
          <textarea name="skills" id="skills" cols="40" rows="5" placeholder="frontend Web Developer" class="M7-field"
            disabled="yes">{{ applicant_user.skills }}</textarea>

        </div>


        <br>

      </fieldset>

      <br>
      <br>

      <fieldset class="M7-fieldset">

        <h1 class="M7-h1 M7-gradient-text">Social Media</h1>

        <br>

        <div>

          <label for="net1" class="M7-label">Network 1: </label> <br>
          <input type="text" name="net1" id="net1" value="{{ applicant_user.network1 }}" class="M7-field" disabled="yes">

        </div>

        <br><br>
        <br>
        <br>

        <div>

          <label for="net2" class="M7-label">Network 2: </label> <br>
          <input type="text" name="net2" id="net2" value="{{ applicant_user.network1 }}" class="M7-field" disabled="yes">

        </div>

        <br>
        <br>

      </fieldset>

      <br>
      <br>

      <fieldset class="M7-fieldset">
        <h1 class="M7-h1 M7-gradient-text">Address and Location</h1>

        <br>

        <div>

          <label for="address" class="M7-label">Address: </label> <br>
          <input type="text" name="address" id="address" value="{{ applicant_user.address }}" class="M7-field" disabled="yes"
            placeholder="Cowrasta, Chandana, Gazipur, Sadar">

        </div>

        <br><br>
        <br>
        <br>


        <div>

          <label for="country" class="M7-label">Country: </label> <br>
          <input type="text" name="country" id="country" value="{{ applicant_user.country }}" class="M7-field" disabled="yes">
          <!-- <select type="" name="country" id="country" value="" class="M7-field" disabled="yes" >
            <option value="Egypt">Egypt</option>
            <option value="France">France</option>
            <option value="Germany">Germany</option>
            <option value="Spain">Spain</option>
            <option value="Poland">Poland</option>
            <option value="Scotland">Scotland</option>
            <option value="United Kingdom">United Kingdom</option>

          </select> -->

        </div>

        <br>



        <div>

          <label for="city" class="M7-label">City: </label> <br>
          <input type="text" name="city" id="city" value="{{ applicant_user.city }}" class="M7-field" disabled="yes">

          <!-- <select type="" name="city" id="city" value="" class="M7-field" disabled="yes">
            <option value="Cairo">Cairo</option>
            <option value="Paris">Paris</option>
            <option value="Berlin">Berlin</option>
            <option value="Los Angelos">Los Angelos</option>
            <option value="New York">New York</option>
            <option value="London">London</option>
            <option value="Moscow">Moscow</option>
          </select> -->

        </div>

        <br><br>



        <div>

          <label for="zip" class="M7-label">ZIP Code: </label> <br>
          <input type="number" name="zip" id="zip" value="{{ applicant_user.zip }}" class="M7-field" disabled="yes">

        </div>

        <br><br>
        <br>
        <br>


        <div>

          <label for="state" class="M7-label">State/Governorat: </label> <br>
          <input type="text" name="state" id="state" value="{{ applicant_user.state }}" class="M7-field" disabled="yes">
          <!-- <select type="text" name="state" id="state" value="" class="M7-field" disabled="yes">

            <option value="Cairo">Cairo</option>
            <option value="Paris">Paris</option>
            <option value="Berlin">Berlin</option>
            <option value="Los Angelos">Los Angelos</option>
            <option value="New York">New York</option>
            <option value="London">London</option>
            <option value="Moscow">Moscow</option>

          </select> -->

        </div>

        <br>
        <br>


        <!-- <div>

          <label for="location" class="M7-label">Map Location: </label> <br>
          <input type="" name="location" id="location" value="" class="M7-field" disabled="yes">

        </div>

        <br>
        <br>
        <br>
        <br> -->


      </fieldset>

      <br>


    </section>

  </main>


  <!-------------------------------------jonathan------------------------------------------->

  <div id="j0_main">
    <!--  upload  -->
    <div class="tab" id="j0_upload">
      <h4 class="j0-title-three">Resume Attachment</h4>
      <div class="j0-input">
        <h4 for="">CV Attachment*</h4>

        <div class="j0-upload" id="r1">
          MyCvResume.PDF
          <span class="j0-remove-btn">x</span>
        </div>
        <div class="j0-upload">
          CandidateCV02.PDF
          <span class="j0-remove-btn">x</span>
        </div>
      </div>
      <div id="j0-btn" class="j0_btn">
        <label name="uploadCV">Upload CV</label>
        <input type="file" id="j0-uploadCV" name="uploadCV" placeholder="">
      </div>
      <small>Upload file .pdf, .doc, .docx</small>
    </div>

    <!-- education -->
    <div class="tab" id="j0_education">
      <h4 class="j0-title-three"> Education</h4>
      <div id="accordion-container-edu">
        <div class="j0_edu-accordion">
          <div class="j0-accordion-header">education 1 <span style="float: right;">^</span>
          </div>
          <div class="j0-accordion-content" style="display: none;"><label for="title">Title*</label>
            <input type="text" id="title" name="title" placeholder="Product designer(google)">
            <label for="academy">Academy*</label><input type="text" id="academy" name="academy"
              placeholder="Google Arts Collage &amp; University">
            <label for="starYear">Start Year*</label><select id="starYear" name="starYear">
              <option value="2024">2024</option>
              <option value="2023">2023</option>
              <option value="2022">2022</option>
              <option value="2021">2021</option>
              <option value="2020">2020</option>
              <option value="2019">2019</option>
              <option value="2018">2018</option>
              <option value="2017">2017</option>
              <option value="2016">2016</option>
              <option value="2015">2015</option>
              <option value="2014">2014</option>
            </select><label for="endYear">End Year*</label><select id="endYear" name="endYear">
              <option value="2024">2024</option>
              <option value="2023">2023</option>
              <option value="2022">2022</option>
              <option value="2021">2021</option>
              <option value="2020">2020</option>
              <option value="2019">2019</option>
              <option value="2018">2018</option>
              <option value="2017">2017</option>
              <option value="2016">2016</option>
              <option value="2015">2015</option>
              <option value="2014">2014</option>
            </select><label for="subject">Subject*</label><textarea id="subject" name="subject"
              placeholder="Write something.." style="height: 200px;"></textarea>
          </div>
        </div>
        <div class="j0_edu-accordion">
          <div class="j0-accordion-header">education 2 <span style="float: right;">^</span>
          </div>
          <div class="j0-accordion-content" style="display: none;"><label for="title">Title*</label>
            <input type="text" id="title" name="title" placeholder="Product designer(google)">
            <label for="academy">Academy*</label><input type="text" id="academy" name="academy"
              placeholder="Google Arts Collage &amp; University">
            <label for="starYear">Start Year*</label><select id="starYear" name="starYear">
              <option value="2024">2024</option>
              <option value="2023">2023</option>
              <option value="2022">2022</option>
              <option value="2021">2021</option>
              <option value="2020">2020</option>
              <option value="2019">2019</option>
              <option value="2018">2018</option>
              <option value="2017">2017</option>
              <option value="2016">2016</option>
              <option value="2015">2015</option>
              <option value="2014">2014</option>
            </select><label for="endYear">End Year*</label><select id="endYear" name="endYear">
              <option value="2024">2024</option>
              <option value="2023">2023</option>
              <option value="2022">2022</option>
              <option value="2021">2021</option>
              <option value="2020">2020</option>
              <option value="2019">2019</option>
              <option value="2018">2018</option>
              <option value="2017">2017</option>
              <option value="2016">2016</option>
              <option value="2015">2015</option>
              <option value="2014">2014</option>
            </select><label for="subject">Subject*</label><textarea id="subject" name="subject"
              placeholder="Write something.." style="height: 200px;"></textarea>
          </div>
        </div>
      </div>
      <button id="j0-edu-btn" class="j0_btn">+ Add more</button>
    </div>

    <!-- skills -->
    <div class="tab" id="j0_skills">
      <h4 class="j0-title-three"> Skills & Experience</h4>
      <div id="accordion-container-skills">
        <div class="j0-skills-accordion">
          <div class="j0-accordion-header">Skills & Experience 1 <span style="float: right;">^</span>
          </div>
          <div class="j0-accordion-content" style="display: none;"><label for="title">Title*</label>
            <input type="text" id="title" name="title" placeholder="Product designer(google)">
            <label for="academy">Academy*</label><input type="text" id="academy" name="academy"
              placeholder="Google Arts Collage &amp; University">
            <label for="starYear">Start Year*</label><select id="starYear" name="starYear">
              <option value="2024">2024</option>
              <option value="2023">2023</option>
              <option value="2022">2022</option>
              <option value="2021">2021</option>
              <option value="2020">2020</option>
              <option value="2019">2019</option>
              <option value="2018">2018</option>
              <option value="2017">2017</option>
              <option value="2016">2016</option>
              <option value="2015">2015</option>
              <option value="2014">2014</option>
            </select><label for="endYear">End Year*</label><select id="endYear" name="endYear">
              <option value="2024">2024</option>
              <option value="2023">2023</option>
              <option value="2022">2022</option>
              <option value="2021">2021</option>
              <option value="2020">2020</option>
              <option value="2019">2019</option>
              <option value="2018">2018</option>
              <option value="2017">2017</option>
              <option value="2016">2016</option>
              <option value="2015">2015</option>
              <option value="2014">2014</option>
            </select><label for="subject">Subject*</label><textarea id="subject" name="subject"
              placeholder="Write something.." style="height: 200px;"></textarea>
          </div>
        </div>
        <div class="j0-skills-accordion">
          <div class="j0-accordion-header">Skills & Experience 2 <span style="float: right;">^</span>
          </div>
          <div class="j0-accordion-content" style="display: none;"><label for="title">Title*</label>
            <input type="text" id="title" name="title" placeholder="Product designer(google)">
            <label for="academy">Academy*</label><input type="text" id="academy" name="academy"
              placeholder="Google Arts Collage &amp; University">
            <label for="starYear">Start Year*</label><select id="starYear" name="starYear">
              <option value="2024">2024</option>
              <option value="2023">2023</option>
              <option value="2022">2022</option>
              <option value="2021">2021</option>
              <option value="2020">2020</option>
              <option value="2019">2019</option>
              <option value="2018">2018</option>
              <option value="2017">2017</option>
              <option value="2016">2016</option>
              <option value="2015">2015</option>
              <option value="2014">2014</option>
            </select><label for="endYear">End Year*</label><select id="endYear" name="endYear">
              <option value="2024">2024</option>
              <option value="2023">2023</option>
              <option value="2022">2022</option>
              <option value="2021">2021</option>
              <option value="2020">2020</option>
              <option value="2019">2019</option>
              <option value="2018">2018</option>
              <option value="2017">2017</option>
              <option value="2016">2016</option>
              <option value="2015">2015</option>
              <option value="2014">2014</option>
            </select><label for="subject">Subject*</label><textarea id="subject" name="subject"
              placeholder="Write something.." style="height: 200px;"></textarea>
          </div>
        </div>
      </div>

      <button id="j0-skill-btn" class="j0_btn">+ Add more</button>
    </div>
    <!--------------------------------------jonathan------------------------------------------ -->
</section>

</div>

</div>

</div>

</div>


{% endblock %}
