{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="main">
    <h1>
        Saved Jobs 
    </h1>
    <div class="all-jobs">
      <!-- ------------------------------------------------------------------------------------------------------------ -->
        <div class="job" id="job1">
          <div class="job-image-div">
            <img src="{ static '../media/front.png'} " class="job-img">
          </div>
          <div class="desc">
            <div class="job-name"> Front-end Web Dvelopment </div> 
            <div class="salary"> $3500/Monthly</div>
            <div class="city"> USA, Palo Alto</div>
            <div class="description">you will create everything the user can see it on a web page. </div>  
            <button type="button" value="Delete" class="delete-button" onclick="remove(name)" name="job1">Delete</button> 
            <a href="#" class="view-ancor"> <button type="button" class="view-button"  value="view" name="job1" onclick="view(name)">view</button></a>
        </div>
        </div>
        <!-- ------------------------------------------------------------------------------------------------------------------ -->
        <div class="job" id="job2">
          <div class="job-image-div">
            <img src="{ static '../media/backend.png'} " class="job-img">
          </div>   
          <div class="desc">
            <div class="job-name"> Back-end Web Development </div> 
            <div class="salary"> $3500/Monthly</div>
            <div class="city"> USA, Palo Alto</div>
            <div class="description">you will make it possible to access website information efficiently and securely.</div>
            <button type="button" value="Delete" class="delete-button" onclick="remove(name)" name="job2">Delete</button> 
            <a href="#" class="view-ancor"> <button type="button" class="view-button"  value="view">view</button></a>
        </div>
        </div>
        <!-- ------------------------------------------------------------------------------------------------------- -->
        <div class="job " id="job3">
          <div class="job-image-div">
            <img src="{ static '../media/OIP .jpg'} " class="job-img">
          </div>
          <div class="desc">
            <div class="job-name"> Software Developer </div> 
            <div class="salary"> $3500/Monthly</div>
            <div class="city"> USA, Palo Alto</div>
            <div class="description">you will create new software and improve existing software applications.</div>  
            <button type="button" value="Delete" class="delete-button" onclick="remove(name)" name="job3">Delete</button> 
            <a href="#" class="view-ancor"> <button type="button" class="view-button"  value="view">view</button></a>    
        </div>
        </div>
        <!-- ------------------------------------------------------------------------------------------------------------- -->
        <div class="job job4" id="job4">
          <div class="job-image-div">
            <img src="{ static '../media/R.png'} " class="job-img">
          </div>
          <div class="desc">
            <div class="job-name">Data Analyst </div> 
            <div class="salary"> $3500/Monthly</div>
            <div class="city"> USA, Palo Alto</div>
            <div class="description">you will collect, clean, and interpret data sets in order to answer a question or solve a problem. </div>
            <button type="button" value="Delete" class="delete-button" onclick="remove(name)" name="job4">Delete</button> 
            <a href="#" class="view-ancor"> <button type="button" class="view-button"  value="view">view</button></a>     
        </div>
        </div> 
        <!-- ----------------------------------------------------------------------------------------------- -->
    </div>
    <div>
      <script src="../static/js/saved_jobs.js">
      </script>
        </section>

    </div>

              <script src="../static/js/saved_jobs.js"></script>
    <link rel="stylesheet" href="{% static 'css/saved_jobs.css' %}">
{% endblock %}
